<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<!-- <div id="policy-container"  [@dialogFadeInOut] class="policy-container scrollable"> -->
<div id="policy-container"  class="policy-container scrollable">
  <div class="titul">
    <h1>AVISO DE PRIVACIDAD</h1>
  </div>

  <section data-aos="zoom-out-up">
    <h2>
      <mat-icon>group</mat-icon>
      ¿Quiénes somos?
    </h2>
    <p>
      Graham Agustin, mejor conocido como Austin's, con domicilio en calle
      Avenida Prof. Toribio Reyes 5, colonia Juarez, ciudad Huejutla, municipio
      o delegación Huejutla, c.p. 43000, en la entidad de Hidalgo, país México,
      es el responsable del uso y protección de sus datos personales, y al
      respecto le informamos lo siguiente:
    </p>
  </section>

  <section data-aos="zoom-out-up">
    <h2>
      <mat-icon>settings</mat-icon>
      ¿Para qué fines utilizaremos sus Datos personales?
    </h2>
    <p>
      De manera adicional, utilizaremos su información personal para las
      siguientes finalidades secundarias que no son necesarias para el servicio
      solicitado, pero que nos permiten y facilitan brindarle una mejor
      atención:
    </p>
    <ul>
      <li>
        <mat-icon>check</mat-icon> Analizar la información de los clientes para
        mejorar la calidad de los productos y servicios ofrecidos, así como para
        adaptar el catálogo de productos a las preferencias de los clientes.
      </li>
      <li>
        <mat-icon>check</mat-icon> Obtener el consentimiento explícito de los
        clientes para cualquier otro uso de sus datos personales que no esté
        relacionado con las finalidades mencionadas anteriormente.
      </li>
      <li>
        <mat-icon>check</mat-icon> Ofrecer y gestionar los productos y servicios
        de repostería, incluyendo la recepción y procesamiento de pedidos, y
        atención al cliente.
      </li>
      <li><mat-icon>check</mat-icon> Mercadotecnia o publicidad.</li>
      <li><mat-icon>check</mat-icon> Prospección comercial.</li>
    </ul>
    <p>
      En caso de que no desee que sus datos personales sean tratados para estos
      fines secundarios, desde este momento usted nos puede comunicar lo
      anterior a través del siguiente mecanismo:
    </p>
    <p>
      Enviarse un correo electrónico proporcionado por la empresa. En caso de un
      reclamo o aclaración de dudas para el usuario.
    </p>
    <p>
      La negativa para el uso de sus datos personales para estas finalidades no
      podrá ser un motivo para que le neguemos los servicios y productos que
      solicita o contrata con nosotros.
    </p>
  </section>

  <section data-aos="zoom-out-up">
    <h2>
      <mat-icon>description</mat-icon>
      ¿Dónde puedo consultar el aviso de privacidad integral?
    </h2>
    <p>
      Para conocer mayor información sobre los términos y condiciones en que
      serán tratados sus datos personales, como los terceros con quienes
      compartimos su información personal y la forma en que podrá ejercer sus
      derechos ARCO, puede consultar el aviso de privacidad integral en:
    </p>
    <p>
      Por medio del sitio web de la empresa. Información de contacto clara y
      fácil de encontrar para que los titulares puedan comunicarse, si tienen
      preguntas o preocupaciones sobre sus datos personales. Los puntos de aviso
      de privacidad se mantendrán actualizados y completos.
    </p>
  </section>

  <!-- <a (click)="showSeccionMas = !showSeccionMas">Ver Más..</a> -->
  <a *ngIf="!showSeccionMas" (click)="showSeccionMas = true">Ver Más</a>

  <section class="seccionmas" *ngIf="showSeccionMas" data-aos="zoom-out-up">
    <h2>
      <mat-icon>swap_horizontal_circle</mat-icon>
      Transferencia de Datos Personales y Finalidades
    </h2>
    <p><em>Estimados clientes de Pastelería Austin's.</em></p>
    <p>
      En nombre de la Pastelería Austin's, valoramos su confianza y queremos
      mantenerlo informado sobre cómo manejamos sus datos personales en el
      contexto de nuestros servicios de repostería. La transparencia es
      fundamental para nosotros, y estamos comprometidos a proteger su
      privacidad y seguridad.
    </p>
    <p><mat-icon>error</mat-icon> Transferencia de Datos Personales:</p>
    <p>
      Queremos informarle que, en algunos casos, es posible que necesitemos
      compartir sus datos personales con terceros para poder brindarle nuestros
      servicios de manera eficiente. Los destinatarios de estas transferencias
      pueden incluir:
    </p>
    <ul>
      <li><mat-icon>check</mat-icon> Proveedores de servicios de entrega.</li>
      <li>
        <mat-icon>check</mat-icon> Agencias de marketing (para enviar
        promociones o noticias relacionadas con repostería).
      </li>
    </ul>
    <p><mat-icon>error</mat-icon> Finalidades de las Transferencias:</p>
    <p>
      Las transferencias de datos personales se realizan con las siguientes
      finalidades:
    </p>
    <ul>
      <li>
        <mat-icon>check</mat-icon> Entrega eficiente de nuestros productos.
      </li>
      <li>
        <mat-icon>check</mat-icon> Procesamiento de pagos de manera segura.
      </li>
      <li>
        <mat-icon>check</mat-icon> Envío de promociones, noticias y ofertas
        exclusivas relacionadas con nuestros productos de repostería.
      </li>
    </ul>
    <p><mat-icon>error</mat-icon> Manifestación de Oposición:</p>
    <p>
      Queremos que sepa que tiene la opción de oponerse a que sus datos
      personales se utilicen para cualquiera de las finalidades mencionadas
      anteriormente. Si desea oponerse a alguna de estas transferencias, puede
      hacerlo de manera explícita contactándonos a través de
      <a href="mailto:info@austins.com.mx">info&#64;austins.com.mx</a> o
      llamándonos al 01 789 896 4530. Respetaremos su elección y dejaremos de
      utilizar sus datos personales para las finalidades a las que se oponga.
    </p>
    <p>
      <mat-icon>verified_user</mat-icon>
      <!-- <mat-icon>error</mat-icon> -->
      <!-- <img width="30" height="30" src="https://img.icons8.com/wired/30/data-encryption.png" alt="data-encryption"/> -->
      Protección de Datos:
    </p>
    <p>
      Tenga la seguridad de que tomamos todas las medidas necesarias para
      proteger sus datos personales durante cualquier transferencia y cumplimos
      estrictamente con las leyes de privacidad y seguridad de datos aplicables
    </p>
  </section>
</div>
