.activate-account-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 120px; /* Ajusta el tamaño según tu diseño */
  height: auto;
}

h2 {
  color: #333;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
}

.activation-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 30px;
}

.password-toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.password-toggle-button i {
  color: #555;
  font-size: 1.2em;
}

.activate-button {
  background-color: #ff6112;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e65100; /* Color más oscuro al pasar el ratón */
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
