// app.component.scss

// .container{
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

// }
.category-grid {

  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.category-card {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.category-image {
  width: 100%;
  height: auto;
  display: block;
}

.category-overlay {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Centra el elemento */
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
  text-align: center;
  opacity: 1; /* Mostrar la categoría por defecto */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Agregamos transform a la transición */
}

.category-card:hover .category-overlay {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1); /* Mover al centro y escalar ligeramente al mostrarla */
  backdrop-filter:  blur(10px);
}

// Media query para dispositivos móviles (ancho de pantalla menor a 600px)
@media (max-width: 600px) {

  .category-grid {

    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 100px, 1fr));
    gap: 20px;
  }
  .category-card .category-overlay {
    transform: translate(-50%, -50%) scale(0.8); /* Ajusta la escala en dispositivos móviles */
    font-size: 14px; /* Ajusta el tamaño de la fuente en dispositivos móviles */
    padding: 8px; /* Ajusta el padding en dispositivos móviles */
  }
}
p-confirmPopup {
  background-color: rgba(31, 29, 29, 0.49);
  // background-color: rgba(8, 8, 8, 0.646);
  backdrop-filter: blur(10px);
}
.bg-gray {
  background-color: rgb(31, 29, 29);
  // background-color: rgba(8, 8, 8, 0.646);
  backdrop-filter: blur(10px);
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Relleno alrededor del contenido */
  color: white; /* Color del texto blanco */
  text-align: center; /* Alineación del texto centrada */
}

