<div class="not-fond-container">
  <div class="cursor"></div>
  <div class="content">
    <div class="error-numbers">
      <span class="error-number">4</span>
      <span class="error-number">0</span>
      <span class="error-number">4</span>
    </div>
    <div class="text-content">
      <h1 class="bienve">¡Ups, página no encontrada!</h1>
      <p>
        Parece que te has perdido en nuestro mundo de repostería.
      </p>
    </div>
    <div class="owner">
      <h2>¿Necesitas ayuda?</h2>
      <button class="contact-owner" (click)="redirectTo('home')">Volver</button>
    </div>
  </div>
</div>
