
p {

  font-size: 14px;
  color: #333;
  margin: 10px 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #a54c2c;
  font-weight: bold;
}

a:hover {
  // color: #000;
  text-decoration: underline;
}
.social-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 8px;
  color: #333;
}

.social-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-button:hover {
  color: #333;
  background-color: #f2f2f2;
}

.social-button.google-button {
  color: #615f5f;
}

.social-button.facebook-button {
  color: #615f5f;
}

.social-login {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.form-group .animated input {
  padding: 0px 0;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s;
  width: 100%;
}

.form-group .animated label {
  position: absolute;
  top: 1px;
  left: 0;
  font-size: 16px;
  color: #242424;
  transition: all 0.1s;
}

.form-group .animated input:focus {
  border-color: #ffa500;
}

.form-group .animated input:focus + label {
  top: -5px;
  font-size: 14px;
  color: #ffa500;
}

.login-form .password-input button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 20px;
}

.login-form .password-input mat-icon {
  color: #aaa;
}



.login-form .password-input button:hover + mat-icon {
  color: #333;
}

mat-error{
  display: block;
  // font: 1em "Roboto", sans-serif;
  color: brown;
  font-size: small;
}


// p-confirm-popup-footer ng-tns-c1047169404-8 ng-star-inserted
.p-confirm-popup-footer {
  display: none !important; /* Oculta los botones predeterminados */
}
