<!-- <p-toast></p-toast> -->

<p-toast position="top-center"></p-toast>
<div class="log" data-aos="fade-up" data-aos-duration="1500">
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Iniciar sesión</h1>
</div>
<form
  *ngIf="logingf"
  class="login-form"
  [formGroup]="group"
  (ngSubmit)="send()"
>
  <p>¿No tienes cuenta? <a (click)="goToSigUP()">Regístrate</a></p>
  <fieldset>
    <legend>Ingresa tus credenciales</legend>
    <div class="input-group">
      <div class="card flex email-input">
        <span class="p-float-label">
          <input
            pInputText
            type="email"
            formControlName="email"
            placeholder="EJ:juanPerez@gmail.com"
          />

          <label>Email</label>

          <span class="p-input-icon-right" style="right: 16px; bottom: 3px">
            <i class="pi pi-envelope"></i>
          </span>
        </span>
      </div>

      <mat-error *ngIf="emailFormControl.hasError('required')"
        >Email es <strong>requerido</strong></mat-error
      >
      <div class="card flex password-input">
        <span class="p-float-label">
          <input
            pInputText
            type="password"
            placeholder="********"
            formControlName="password"
            [type]="passwordFieldType"
          />
          <label>Contraseña</label>
          <span class="p-input-icon-right"> </span>
          <button
            mat-icon-button
            type="button"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="
              passwordVisible ? 'Ocultar contraseña' : 'Mostrar contraseña'
            "
          >
            <i
              class="pi"
              [ngClass]="{
                'pi-eye': !passwordVisible,
                'pi-eye-slash': passwordVisible
              }"
            ></i>
          </button>
        </span>
      </div>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Passsword is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="passwordFormControl.hasError('formatError')">
        {{ passwordFormControl.errors?.['formatError'] }}
      </mat-error>
    </div>
  </fieldset>
  <p>
    <a class="forgot-password-link" (click)="correo()"
      >¿Olvidaste tu contraseña?</a
    >
  </p>
  <ngx-recaptcha2
    class="social-login"
    *ngIf="recaptchaSHOW"
    #captchaElem
    [siteKey]="siteKey"
    matInput
    formControlName="recaptcha"
    (success)="handleRecaptchaValidation($event)"
  ></ngx-recaptcha2>

  <div *ngIf="recaptchaValid">
    <button type="submit" class="login-button" [disabled]="group.invalid">
      Ingresar
    </button>

    <!-- <button type="submit" class="login-button">Ingresar</button> -->
  </div>

  <div
    class="social-login"
    data-aos="fade-left"
    data-aos-anchor="#example-anchor"
    data-aos-offset="400"
    data-aos-duration="700"
  >
    <button class="social-button google-button" >
     
      <img src="assets/icons/icons8-google-30.svg" alt="Google" />
      <!-- <div
        id="g_id_onload"
        data-client_id="933315303258-b36vunu6aje1mi9uobl366m542v68fl1.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:3000/auth/sign-in"
        data-auto_select="true"
        data-itp_support="true"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
      ></div> -->

      Ingresar con Google
    </button>
    <button class="social-button facebook-button">
      <img src="assets/icons/facebook_4494475.png" alt="Facebook" />
      Ingresar con Facebook
    </button>
  </div>
  <div class="footer-enlaces-rapidos">
    |<a (click)="redirectTo('Terminos')">Términos y Condiciones</a> |<a
      (click)="redirectTo('politica')"
      >Política de Privacidad</a
    >
    | <a (click)="redirectTo('faq')">Preguntas Frecuentes</a>
  </div>
</form>

<p-dialog
  header="Seleccione el método de recuperación de contraseña"
  [(visible)]="showDialog"
  [style]="{ width: '50vw' }"
>
  <ng-template pTemplate>
    <div class="bg-gray-900 text-white border-round p-3">
      <div class="flex align-items-center gap-2 mt-3">
        <!-- <span>Seleccione el método de recuperación de contraseña:</span> -->
        <div class="flex align-items-center gap-2 mt-3">
          <a
            (click)="navigateTo('auth/Recupera')"
            pButton
            label="  correo"
            class="p-button p-button-sm p-button-outlined"
          ></a>
          <a
            (click)="navigateTo('auth/Recupera-pregunta')"
            pButton
            label="  pregunta secreta"
            class="p-button p-button-sm p-button-text"
          ></a>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
