







/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .login-form {
    padding: 3%;
  }
  .login-button {
    margin-top: 0px;
    border-radius: 20px;
    // width: 250px;
    width: 80%; /* Ajuste para dispositivos móviles */
    max-width: 300px; /* Ancho máximo para dispositivos móviles */
  }
  .login-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }


  /* Estilos para ajustar la posición de los iconos en dispositivos móviles */
  .login-form .password-input button,
  .login-form .email-input mat-icon {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  .login-form .email-input mat-icon {
    left: calc(100% - 45px);
  }

}

/* Estilos para tabletas (por ejemplo, iPads) */
@media (min-width: 601px) and (max-width: 1024px) {
  .login-form {
    max-width: 80%;
  }
}

/* Agrega estilos específicos para dispositivos web */
@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh; /* Ajusta según tus necesidades */
    overflow-y: hidden; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #ffa500;
  }
}
