<div class="login-container">
  <img src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png/v1/fill/w_234,h_270,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png" alt="Pastelería" />
  <h1>Iniciar sesión</h1>
  <form class="example-form" >
    <mat-form-field class="example-full-width">
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Correo electrónico"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Contraseña"
      />
    </mat-form-field>
    <button href="#" class="login-button">Ingresar</button>
  </form>
  <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
  <a href="#" class="social-login">
    <div class="social-icon">
      <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" />
    </div>
    <div class="social-icon">
      <img src="https://www.facebook.com/favicon.ico" alt="Facebook" />
    </div>
  </a>

</div>
