




.footer-enlaces-rapidos{
  // background-color: aqua;
  font-size: 10px;
}


/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  h1{
    margin-bottom: 0;
  }
  .login-form {
    margin: 0;
    // width: max-content;
    padding: 1%;
    height: 30%;
  }

  .login-button {
    margin-top: 0px;
    border-radius: 20px;
    // width: 250px;
    width: 80%; /* Ajuste para dispositivos móviles */
    max-width: 300px; /* Ancho máximo para dispositivos móviles */
  }
  .login-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }

  .login-form .email-input .p-input-icon-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
  }



.footer-enlaces-rapidos{
  // background-color: aqua;
  font-size: 8px;
}

}

