<div class="log">
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Iniciar sesión</h1>
</div>
<form class="login-form" [formGroup]="group" (ngSubmit)="send()">
  <p>¿No tienes cuenta? <a (click)="goToSigUP()">Regístrate</a></p>
  <fieldset>
    <legend>Ingresa tus credenciales</legend>
    <div class="input-group">
      <div class="form-group email-input">
        <mat-form-field class="animated">
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="EJ:juanPerez@gmail.com"
            required
          />
          <label>email</label>
          <mat-icon> email</mat-icon>

        </mat-form-field>
        <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
          {{ emailFormControl.errors}}
        </mat-error> -->
        <mat-error *ngIf="emailFormControl.hasError('required')"
        >Email es <strong>requerido</strong></mat-error
      >
      </div>


      <div class="form-group password-input">
        <mat-form-field class="animated">
          <!-- ... tu input de contraseña ... -->
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="********"
            [type]="passwordFieldType"
            required
          />

          <label>password</label>
          <button
            mat-icon-button
            type="button"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="
              passwordVisible ? 'Ocultar contraseña' : 'Mostrar contraseña'
            "
          >
            <mat-icon>{{
              passwordVisible ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Passsword is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="passwordFormControl.hasError('formatError')">
        {{ passwordFormControl.errors?.['formatError'] }}
      </mat-error>

    </div>
  </fieldset>
  <p>
    <a class="forgot-password-link">¿Olvidaste tu contraseña?</a>
  </p>
  <button type="submit" class="login-button" [disabled]="group.invalid">
    Ingresar
  </button>
  <div class="social-login">
    <button class="social-button google-button">
      <img src="assets/icons/icons8-google-30.svg" alt="Google" />

      Ingresar con Google
    </button>
    <button class="social-button facebook-button">
      <img src="assets/icons/facebook_4494475.png" alt="Facebook" />
      Ingresar con Facebook
    </button>
  </div>
  <div class="footer-enlaces-rapidos">
    <ul>
      <li>
        |<a (click)="redirectTo('Terminos')">Términos y Condiciones</a> |<a
          (click)="redirectTo('politica')"
          >Política de Privacidad</a
        >
        | <a (click)="redirectTo('home')">Preguntas Frecuentes</a>
      </li>
    </ul>
  </div>
</form>
