<h2>Editar Producto</h2>

          <form [formGroup]="editForm" (ngSubmit)="saveChanges()" enctype="multipart/form-data"     method="post">
  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del Producto</mat-label>
        <input
          matInput
          formControlName="name"
          required
          [value]="editForm.get('name')?.value"
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>SKU</mat-label>
        <input matInput formControlName="sku" required />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Unidad</mat-label>
        <input matInput formControlName="unit" required />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input type="number" matInput formControlName="price" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input type="number" matInput formControlName="quantity" required />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Fabricante</mat-label>
        <input matInput formControlName="maker" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Vencimiento</mat-label>
        <input matInput formControlName="expiration" required />
      </mat-form-field>
    </div>
  </div>

  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Información Nutricional</mat-label>
      <input matInput formControlName="nutritionalInformation" required />
    </mat-form-field>
  </div>

  <div class="form-row">

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <select matNativeControl formControlName="category" required>
          <option value="">Seleccione una categoría</option>
          <option *ngFor="let category of categories" [value]="category.title">
            {{ category.title }}
          </option>
        </select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Peso</mat-label>
        <input type="number" matInput formControlName="weight" required />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <mat-checkbox formControlName="isFeatured">Destacado</mat-checkbox>
    </div>
    <div class="form-group">
      <mat-checkbox formControlName="isVegetarian">Vegetariano</mat-checkbox>
    </div>
    <div class="form-group">
      <mat-checkbox formControlName="isGlutenFree"
        >Libre de Gluten</mat-checkbox
      >
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="model" required />
      </mat-form-field>
    </div>
  </div>

  <!-- Ingredientes -->
  <mat-form-field class="example-chip-list">
    <mat-label>Ingredientes</mat-label>
    <mat-chip-grid #ingredientsChipGrid aria-label="Enter ingredients">
      <mat-chip-row
        *ngFor="let ingredient of getIngredientsArray(); let i = index"
        (removed)="removeChip(i, 'ingredients')"
        (edited)="editIngredient(i, $event)"
        [editable]="true"
      >
        {{ ingredient }}
        <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        placeholder="Nuevo ingrediente..."
        [matChipInputFor]="ingredientsChipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        formControlName="ingredientsInput"
        (matChipInputTokenEnd)="addChip($event, 'ingredients')"
      />
    </mat-chip-grid>
  </mat-form-field>

  <!-- Alérgenos -->
  <mat-form-field class="example-chip-list">
    <mat-label>Alérgenos</mat-label>
    <mat-chip-grid #allergensChipGrid aria-label="Enter allergens">
      <mat-chip-row
        *ngFor="let allergen of getAllergensArray(); let i = index"
        (removed)="removeChip(i, 'allergens')"
        (edited)="editAllergens(i, $event)"
        [editable]="true"
      >
        {{ allergen }}
        <button matChipRemove [attr.aria-label]="'remove ' + allergen">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        placeholder="Nuevo alérgeno..."
        [matChipInputFor]="allergensChipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        formControlName="allergensInput"
        (matChipInputTokenEnd)="addChip($event, 'allergens')"
      />
    </mat-chip-grid>
  </mat-form-field>

  <div class="form-row">
    <div class="form-group">
      <mat-checkbox formControlName="status">Activo</mat-checkbox>
    </div>
  </div>

  <!-- _________imagen__________ -->
  <!-- Image Section -->
  <!-- _________imagen__________ -->
  <!-- Image Section -->

  <!-- Image Section -->
  <div class="form-group" >
    <input
    name="image"
      type="file"
      (change)="onImagesSelected($event)"
      accept="image/*"
      multiple
    />

    <!-- Display Existing Images -->
    <!-- Display Existing Images -->
    <div
      class="image-gallery"
      *ngIf="product.images && product.images.length > 0"
    >
      <div *ngFor="let image of product.images; let i = index">
        <img
          [src]="getImages(image)"
          alt="Imagen del producto"
          width="50"
          height="50"
          class="product-image"
        />
        <button mat-icon-button (click)="removeImage(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>

    <!-- Display Selected Images Preview -->
    <!-- Display Selected Images Preview -->

    <!-- Display Selected Images Preview -->
    <div class="image-preview" *ngIf="selectedImages.length > 0">
      <div *ngFor="let image of productImages">
        <img
          [src]="image.url"
          alt="Imagen del producto"
          width="50"
          height="50"
          class="product-image"
        />
        <button mat-icon-button (click)="removeSelectedImage(image)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>

    <!-- Help Message -->
    <div *ngIf="selectedImages.length === 0 && !loading">
      Seleccione una o más imágenes.
    </div>

    <!-- Upload Button -->
    <button
      mat-raised-button
      color="primary"
      *ngIf="selectedImages.length > 0 && !loading"
      (click)="uploadImagesAndAddToForm(editForm.value)"
    >
      Cargar Imágenes
    </button>

    <!-- Loading Indicator -->
    <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
  </div>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit">
      Guardar Cambios
    </button>
    <button mat-button (click)="closeDialog()">Cancelar</button>
  </div>
</form>
