/* Estilos para el componente EditProductComponentComponent */

:host {
  display: block;
  // marding: 20px;
  background-color: transparent;
  border-radius: 10px;
  // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para las filas del formulario */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

/* Estilos para los campos de entrada */
mat-form-field {
  width: 100%;
}

/* Estilos para el campo de selección de imagen */
.custom-file-upload {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

/* Estilos para la imagen del producto */
.product-image {
  margin-top: 20px;
  display: block;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los checkbox de Angular Material */
.mat-checkbox-layout {
  margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

/* Estilos para la etiqueta del checkbox */
.mat-checkbox-label {
  margin-left: 5px; /* Espacio entre el checkbox y el texto */
}

/* Estilos para el contenedor del checkbox */
.mat-checkbox-container {
  display: flex;
  align-items: center;
}

/* Estilos para el botón de guardar cambios */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

/* Estilos para el botón de cancelar */
button[type="button"] {
  background-color: #ccc;
  color: #333;
  margin-left: 10px;
}

/* Estilos para el contenedor de los botones */
.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  align-items: center; /* Alinea los botones verticalmente al centro */
}
