<div class="log">
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Crear Cuenta</h1>

  <!-- Enlace para iniciar sesión -->
  <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>
</div>

<div class="signup-container">
  <!-- Barra de progreso -->
  <div class="progress-bar" id="progress-bar">
    <div class="progress-step personal">Datos Personales</div>
    <div class="progress-step contact">Datos de Contacto</div>
    <div class="progress-step address">Datos de Dirección</div>
    <div class="progress-step credentials">Usuario y Contraseña</div>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div [ngSwitch]="step">
      <!-- Datos Personales -->
      <div *ngSwitchCase="'personal'">
        <p class="section-title">Datos Personales</p>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="text"
              id="firstName"
              placeholder="Juan"
              [(ngModel)]="firstName"
              name="firstName"
              required
            />
            <label for="firstName">Nombre</label>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="text"
              id="lastName"
              placeholder="Perez"
              [(ngModel)]="lastName"
              name="lastName"
              required
            />
            <label for="lastName">Apellido</label>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="animated">
            <label for="birthdate">Fecha de Nacimiento</label>
            <!-- <mat-label>Choose a </mat-label> -->
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Fecha de Nacimiento"
              [(ngModel)]="birthdate"
              name="birthdate"
              required
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- <a class=" home-button" href="/">
          <mat-icon>home</mat-icon>
        </a>

        <button class="next-button" (click)="nextStep('contact')">
          Siguiente
        </button> -->

        <div class="button-container">
          <a class="home-button" href="/">
            <mat-icon>home</mat-icon>
          </a>
          <button class="next-button" (click)="nextStep('contact')">
            Siguiente
          </button>
        </div>
      </div>

      <!-- Datos de Contacto -->
      <div *ngSwitchCase="'contact'">
        <p class="section-title">Datos de Contacto</p>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="email"
              id="email"
              placeholder="juanperez@gmail.com"
              [(ngModel)]="email"
              name="email"
              required
            />
            <label for="email">Correo Electrónico</label>
            <mat-icon>email</mat-icon>
          </mat-form-field>
        </div>
        <button class="prev-button" (click)="prevStep()">Anterior</button>

        <button class="next-button" (click)="nextStep('address')">
          Siguiente
        </button>
      </div>

      <!-- Datos de Dirección -->
      <div *ngSwitchCase="'address'">
        <p class="section-title">Datos de Dirección</p>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="text"
              id="street"
              placeholder="Calle Principal"
              [(ngModel)]="street"
              name="street"
              required
            />
            <label for="street">Calle</label>
            <mat-icon>location_on</mat-icon>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="text"
              id="city"
              placeholder="Ciudad"
              [(ngModel)]="city"
              name="city"
              required
            />
            <label for="city">Ciudad</label>
            <mat-icon>location_city</mat-icon>
          </mat-form-field>
        </div>
        <button class="prev-button" (click)="prevStep()">Anterior</button>
        <button class="next-button" (click)="nextStep('credentials')">
          Siguiente
        </button>
      </div>

      <!-- Usuario y Contraseña -->
      <div *ngSwitchCase="'credentials'">
        <p class="section-title">Usuario y Contraseña</p>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="text"
              id="username"
              placeholder="Nombre de Usuario"
              [(ngModel)]="username"
              name="username"
              required
            />
            <label for="username">Nombre de Usuario</label>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="password"
              id="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
              name="password"
              required
            />
            <label for="password">Contraseña</label>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="animated">
            <input
              matInput
              type="password"
              id="confirmPassword"
              placeholder="Confirmar Contraseña"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              required
            />
            <label for="confirmPassword">Confirmar Contraseña</label>
          </mat-form-field>
        </div>
        <button class="prev-button" (click)="prevStep()">Anterior</button>
        <button class="next-button" (click)="onSubmit()">Registrarse</button>
      </div>
    </div>
  </form>

  <!-- Botones de registro social -->
  <div class="social-login">
    <button class="social-button google-button">
      <img src="assets/icons/icons8-google-30.svg" alt="Google" />
      Registrarse con Google
    </button>
    <button class="social-button facebook-button">
      <img src="assets/icons/facebook_4494475.png" alt="Facebook" />
      Registrarse con Facebook
    </button>
  </div>
</div>
