<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<p-toast></p-toast>

<div class="log">
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Crear Cuenta</h1>
  <!-- Enlace para iniciar sesión -->
  <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>
</div>

<div class="signup-container">
  <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>

  <form (ngSubmit)="onSubmit()" [formGroup]="group">
    <!-- Datos Personales -->
    <div class="form-group" *ngIf="step === 'personal'">
      <mat-form-field class="animated">
        <input
          matInput
          type="text"
          id="firstName"
          placeholder="Juan"
          formControlName="name"
        />

        <label for="firstName">Nombre</label>
      </mat-form-field>
      <div
        class="error-container"
        *ngIf="
          group.get('name')?.hasError('required') ||
          nameFormControl.hasError('invalidName')
        "
      >
        <mat-error *ngIf="group.get('name')?.hasError('required')"
          >El nombre es requerido.</mat-error
        >
        <mat-error
          *ngIf="nameFormControl.hasError('invalidName')"
          >{{ nameFormControl.errors?.['invalidName'] }}</mat-error
        >
      </div>

      <mat-form-field class="animated">
        <input
          matInput
          type="text"
          id="paternalLastname"
          placeholder="Perez"
          formControlName="maternalLastname"
        />
        <label for="maternalLastname">Apellido Materno</label>
      </mat-form-field>

      <div
        class="error-container2"
        *ngIf="
          group.get('maternalLastname')?.hasError('required') ||
          a1.hasError('invalidLastName')
        "
      >
        <mat-error>El apellido materno es requerido.</mat-error>
        <mat-error>
          {{ a1.errors?.['invalidLastName'] }}
        </mat-error>
      </div>
      <mat-form-field class="animated">
        <input
          matInput
          type="text"
          id="paternalLastname"
          placeholder="Gomez"
          formControlName="paternalLastname"
        />
        <label for="paternalLastname">Apellido Paterno</label>
      </mat-form-field>
      <div
        class="error-container3"
        *ngIf="
          group.get('paternalLastname')?.hasError('required') ||
          a2.hasError('invalidLastName')
        "
      >
        <mat-error>El apellido paterno es requerido.</mat-error>
        <mat-error>
          {{ a2.errors?.['invalidLastName'] }}
        </mat-error>
      </div>
      <label>Fecha de Nacimiento</label>
      <input class="date" type="date" formControlName="birthdate" />
      <mat-error *ngIf="group.get('birthdate')?.hasError('required')"
        >La fecha de nacimiento es requerida.</mat-error
      >
      <mat-error *ngIf="group.get('birthdate')?.hasError('invalidDate')"
        >La fecha de nacimiento no puede ser en el futuro.</mat-error
      >

      <div class="button-container">
        <button
          class="next-button"
          (click)="nextStep('contact')"
          [disabled]="!arePersonalFieldsFilled()"
        >
          Siguiente
        </button>
      </div>

      <div class="social-login">
        <button class="social-button google-button">
          <img src="assets/icons/icons8-google-30.svg" alt="Google" />
          Registrarse con Google
        </button>
        <button class="social-button facebook-button">
          <img src="assets/icons/facebook_4494475.png" alt="Facebook" />
          Registrarse con Facebook
        </button>
      </div>
    </div>

    <!-- Datos de Contacto -->
    <div class="form-group" *ngIf="step === 'contact'">
      <!-- En tu plantilla -->
      <mat-form-field class="animated">
        <mat-label>Pregunta de Seguridad</mat-label>
        <mat-select formControlName="securityQuestion" required>
          <mat-option
            *ngFor="let pregunta of preguntasSecretas"
            [value]="pregunta"
          >
            {{ pregunta }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="animated">
        <input
          matInput
          type="text"
          placeholder="Respuesta"
          formControlName="securityAnswer"
        />
        <label>Respuesta de Seguridad</label>
      </mat-form-field>

      <mat-form-field class="animated">
        <input
          autocomplete="false"
          type="number"
          matInput
          pattern="[0-9]*"
          maxlength="10"
          placeholder="123-456-7890"
          formControlName="phone"
          (input)="onPhoneInput($event)"
        />
        <label>Teléfono</label>
      </mat-form-field>

      <div
        class="error-container3"
        *ngIf="
          phoneFormControl.hasError('maxlength') ||
          phoneFormControl.hasError('formatError')
        "
      >
        <mat-error>
          {{ phoneFormControl.errors?.['formatError'] }}
        </mat-error>

        <mat-error>El teléfono es obligatorio.</mat-error>
      </div>

      <div class="button-container">
        <button class="prev-button" (click)="prevStep()">Anterior</button>
        <button
          class="next-button"
          (click)="nextStep('credentials')"
          [disabled]="!areContactFieldsFilled()"
        >
          Siguiente
        </button>
      </div>
    </div>

    <!-- Usuario y Contraseña -->
    <div class="form-group" *ngIf="step === 'credentials'">
      <mat-form-field class="animated email-input">
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="EJ:juanPerez@gmail.com"
        />
        <label>Email</label>
        <mat-icon>email</mat-icon>
        <mat-error *ngIf="emailFormControl.hasError('required')"
          >Email es <strong>requerido</strong></mat-error
        >
      </mat-form-field>

      <mat-form-field class="animated">
        <input
          matInput
          type="password"
          placeholder="********"
          formControlName="password"
        />
        <label>Contraseña</label>
        <mat-error *ngIf="passwordFormControl.hasError('required')"
          >Contraseña es <strong>requerida</strong></mat-error
        >
        <mat-error
          *ngIf="passwordFormControl.hasError('formatError')"
          >{{ passwordFormControl.errors?.['formatError'] }}</mat-error
        >
      </mat-form-field>

      <mat-form-field class="animated">
        <input
          matInput
          type="password"
          placeholder="********"
          formControlName="confirmPassword"
          (input)="onConfirmPasswordInput($event)"
        />
        <label>Confirmar Contraseña</label>
        <mat-error *ngIf="confirmPasswordFormControl.hasError('passwordMatch')"
          >Las contraseñas no coinciden</mat-error
        >
        <mat-error
          *ngIf="confirmPasswordFormControl.hasError('formatError')"
          >{{ confirmPasswordFormControl.errors?.['formatError'] }}</mat-error
        >
        <mat-error *ngIf="confirmPasswordFormControl.hasError('required')"
          >Confirmar Contraseña es <strong>requerida</strong></mat-error
        >
      </mat-form-field>
   
      <ngx-recaptcha2
        #captchaElem
        [siteKey]="siteKey"
        matInput
        formControlName="recaptcha"
        (success)="handleSuccess($event)"
      >
      </ngx-recaptcha2>
      
      <mat-error *ngIf="recaptchaFormControl.hasError('required')"
        >captcha<strong>requerida</strong></mat-error
      >
      <div class="button-container">
        <button class="prev-button" (click)="prevStep()">Anterior</button>
        <button
          class="next-button"
          (click)="onSubmit()"
          [disabled]="!this.group.valid || isSubmitting"
        >
          Registrarse
        </button>
      </div>
    </div>
  </form>
</div>
