<!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->

<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<!-- <p-toast></p-toast> -->
<p-toast position="top-center"></p-toast>
<div
  class="log"
  data-aos="fade-right"
  data-aos-anchor="#example-anchor"
  data-aos-offset="400"
  data-aos-duration="700"
>
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Crear Cuenta</h1>
  <!-- Enlace para iniciar sesión -->
  <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>
</div>

<div class="signup-container">
  <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>

  <form (ngSubmit)="onSubmit()" [formGroup]="group">
    <!-- Datos Personales -->
    <div class="form-group" *ngIf="step === 'personal'">
      <div class="card flex">
        <span class="p-float-label">
          <input type="text" pInputText id="firstName" formControlName="name" />

          <label for="firstName">Nombre</label>
        </span>
      </div>
      <div
        class="error-container"
        *ngIf="
          group.get('name')?.hasError('required') ||
          nameFormControl.hasError('invalidName')
        "
      >
        <mat-error *ngIf="group.get('name')?.hasError('required')"
          >El nombre es requerido.</mat-error
        >
        <mat-error
          *ngIf="nameFormControl.hasError('invalidName')"
          >{{ nameFormControl.errors?.['invalidName'] }}</mat-error
        >
      </div>

      <div class="card flex">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="paternalLastname"
            formControlName="maternalLastname"
          />

          <label for="maternalLastname">Apellido Materno</label>
        </span>
      </div>
      <div
        class="error-container2"
        *ngIf="
          group.get('maternalLastname')?.hasError('required') ||
          a1.hasError('invalidLastName')
        "
      >
        <mat-error>El apellido materno es requerido.</mat-error>
        <mat-error>
          {{ a1.errors?.['invalidLastName'] }}
        </mat-error>
      </div>

      <div class="card flex">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="paternalLastname"
            formControlName="paternalLastname"
          />

          <label for="paternalLastname">Apellido Paterno</label>
        </span>
      </div>
      <div
        class="error-container3"
        *ngIf="
          group.get('paternalLastname')?.hasError('required') ||
          a2.hasError('invalidLastName')
        "
      >
        <mat-error>El apellido paterno es requerido.</mat-error>
        <mat-error>
          {{ a2.errors?.['invalidLastName'] }}
        </mat-error>
      </div>

      <div class="card flex">
        <span class="p-float-label">
          <p-calendar
            class="birthdate"
            [iconDisplay]="'input'"
            formControlName="birthdate"
            [showIcon]="true"
          ></p-calendar>

          <label for="birthdate">fecha de nacimiento</label>
        </span>
      </div>
      <mat-error
        class="error-container3"
        *ngIf="group.get('birthdate')?.hasError('required')"
        >La fecha de nacimiento es requerida.</mat-error
      >
      <mat-error
        class="error-container3"
        *ngIf="group.get('birthdate')?.hasError('invalidDate')"
        >La fecha de nacimiento no puede ser en el futuro.</mat-error
      >

      <div
        [style.display]="
          a2.hasError('invalidLastName') ||
          a1.hasError('invalidLastName') ||
          group.get('birthdate')?.hasError('invalidDate')
            ? 'none'
            : ''
        "
      >
        <div class="button-container">
          <button
            class="next-button"
            (click)="nextStep('contact')"
            [disabled]="!arePersonalFieldsFilled()"
          >
            Siguiente
          </button>
        </div>


        <!-- <div
          class="social-login"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
        > -->
        <div
          class="social-login"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
        >
          <button class="social-button google-button">
            <img src="assets/icons/icons8-google-30.svg" alt="Google" />
            Registrarse con Google
          </button>
          <button class="social-button facebook-button">
            <img src="assets/icons/facebook_4494475.png" alt="Facebook" />
            Registrarse con Facebook
          </button>
        </div>
      </div>
    </div>

    <!-- Datos de Contacto -->
    <div class="form-group" *ngIf="step === 'contact'">
      <!-- En tu plantilla -->

      <div class="card flex">
        <span class="p-float-label">
          <p-dropdown
            class="p-dropdown"
            formControlName="securityQuestion"
            [options]="preguntasSecretas"
            [showClear]="true"
            placeholder="Seleccionar la pregunta secreta"
          ></p-dropdown>
          <label for="securityQuestion">Pregunta secreta</label>
        </span>
      </div>

      <div class="card flex">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="securityAnswer" />

          <label for="securityAnswer">Respuesta de Seguridad</label>
        </span>
      </div>
      <div class="card flex">
        <span class="p-float-label">
          <input
            pInputText
            autocomplete="false"
            type="number"
            pattern="[0-9]*"
            maxlength="10"
            placeholder="123-456-7890"
            formControlName="phone"
            (input)="onPhoneInput($event)"
          />

          <label for="phone">Teléfono</label>
        </span>
      </div>

      <div
        class="error-container3"
        *ngIf="
          phoneFormControl.hasError('maxlength') ||
          phoneFormControl.hasError('formatError')
        "
      >
        <mat-error>
          {{ phoneFormControl.errors?.['formatError'] }}
        </mat-error>

        <mat-error>El teléfono es obligatorio.</mat-error>
      </div>

      <div class="button-container">
        <button class="prev-button" (click)="prevStep()">Anterior</button>
        <button
          class="next-button"
          (click)="nextStep('credentials')"
          [disabled]="!areContactFieldsFilled()"
        >
          Siguiente
        </button>
      </div>
    </div>

    <!-- Usuario y Contraseña -->
    <div class="form-group" *ngIf="step === 'credentials'">
      <div class="card flex email-input">
        <span class="p-float-label">
          <input
            pInputText
            type="email"
            formControlName="email"
            placeholder="EJ:juanPerez@gmail.com"
          />

          <label>Email</label>
          <span class="p-input-icon-right">
            <!-- <mat-icon>email</mat-icon> -->
            <i class="pi pi-envelope"></i>
          </span>
        </span>
      </div>
      <mat-error
        class="error-container3"
        *ngIf="emailFormControl.hasError('required')"
        >Email es <strong>requerido</strong></mat-error
      >
      <div class="card flex password-input">
        <span class="p-float-label">
          <p-password
            formControlName="password"
            placeholder="********"
            promptLabel="Elige una contraseña"
            weakLabel="Demasiado simple"
            mediumLabel="Complejidad promedio"
            strongLabel="Contraseña compleja"
            [toggleMask]="true"
            class="custom-password-input"
          ></p-password>

          <label>Contraseña</label>
          <span class="p-input-icon-right"> </span>
        </span>
      </div>
      <mat-error
        class="error-container3"
        *ngIf="passwordFormControl.hasError('required')"
        >Contraseña es <strong>requerida</strong></mat-error
      >
      <mat-error
        class="error-container3"
        *ngIf="passwordFormControl.hasError('formatError')"
        >{{ passwordFormControl.errors?.['formatError'] }}</mat-error
      >
      <div class="card flex password-input">
        <span class="p-float-label">
          <!-- <p-password pInputText [toggleMask]="true"></p-password> -->

          <!-- <input
            pInputText
            type="password"
            placeholder="********"
            formControlName="confirmPassword"
            (input)="onConfirmPasswordInput($event)"
            [type]="passwordFieldType2"
          /> -->
          <p-password
            formControlName="confirmPassword"
            placeholder="********"
            promptLabel="Elige una contraseña"
            weakLabel="Demasiado simple"
            mediumLabel="Complejidad promedio"
            strongLabel="Contraseña compleja"
            [toggleMask]="true"
            (input)="onConfirmPasswordInput($event)"
          ></p-password>

          <label>Contraseña</label>
          <span class="p-input-icon-right"> </span>
          <!-- <button
            mat-icon-button
            type="button"
            (click)="togglePasswordVisibility2()"
            [attr.aria-label]="
              passwordVisible2 ? 'Ocultar contraseña' : 'Mostrar contraseña'
            "
          >
            <i
              class="pi"
              [ngClass]="{
                'pi-eye': !passwordVisible2,
                'pi-eye-slash': passwordVisible2
              }"
            ></i>
          </button> -->
        </span>
      </div>
      <mat-error
        class="error-container3"
        *ngIf="confirmPasswordFormControl.hasError('passwordMatch')"
        >Las contraseñas no coinciden</mat-error
      >
      <mat-error
        class="error-container3"
        *ngIf="confirmPasswordFormControl.hasError('formatError')"
        >{{ confirmPasswordFormControl.errors?.['formatError'] }}</mat-error
      >
      <mat-error
        class="error-container3"
        *ngIf="confirmPasswordFormControl.hasError('required')"
        >Confirmar Contraseña es <strong>requerida</strong></mat-error
      >

      <div class="flex terms-checkbox align-items-center gap-1">
        <p-checkbox
          formControlName="priv"
          [(ngModel)]="termsAccepted"
          [binary]="true"
          inputId="binary"
        ></p-checkbox>
        <label for="binary"
          >Acepto los términos y condiciones de la política de
          privacidad.</label
        >
      </div>
      <mat-error
        class="error-container3"
        *ngIf="privFormControl.hasError('required')"
      >
        términos y condiciones<strong>requerida</strong></mat-error
      >
      <div
        [style.display]="
          confirmPasswordFormControl.hasError('passwordMatch') ||
          passwordFormControl.hasError('formatError')
            ? 'none'
            : ''
        "
      >
        <!-- <div [style.display]="termsAccepted ? '' : 'none'"> -->
        <ngx-recaptcha2
          class="capcha"
          #captchaElem
          [siteKey]="siteKey"
          matInput
          formControlName="recaptcha"
          (success)="handleSuccess($event)"
        >
        </ngx-recaptcha2>
        <!-- </div> -->

        <mat-error
          class="error-container3"
          *ngIf="recaptchaFormControl.hasError('required')"
          >captcha<strong>requerida</strong></mat-error
        >
        <div
          [style.display]="
            recaptchaFormControl.hasError('required') ||
            confirmPasswordFormControl.hasError('passwordMatch') ||
            passwordFormControl.hasError('formatError') ||
            emailFormControl.hasError('required')
              ? 'none'
              : ''
          "
        >
          <div class="button-container">
            <button class="prev-button" (click)="prevStep()">Anterior</button>
            <!-- <button
              class="next-button"
              (click)="onSubmit()"
              [disabled]="!this.group.valid || isSubmitting"
            >
              Registrarse
            </button> -->
            <button
              class="next-button"
              (click)="onSubmit()"
              [disabled]="!this.group.valid"
            >
              Registrarse
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
<!-- <script> -->
<!-- AOS.init() -->
<!-- </script> -->
