/* Estilos base sin Media Queries */

.log {
  // background-color:#0056b3;
  text-align: center;
  margin-top: 2%;
}

.logo {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}


p {
  font-size: 14px;
  color: #333;
  margin: 10px 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #a54c2c;
  font-weight: bold;
}

a:hover {
  // color: #000;
  text-decoration: underline;
}

.signup-container {
  margin-top: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1%;
  max-width: 500px;
  margin: 0 auto;
  height: 500px;

}

.signup-container img {
  max-width: 20%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin: 0;
}

.next-button,
.prev-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.next-button:hover,
.prev-button:hover {
  background-color: #0056b3;
}

/* Estiliza los botones sociales */
.social-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  color: #333;
}
.social-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-button:hover {
  color: #333;
  background-color: #f2f2f2;
}

.social-button.google-button,
.social-button.facebook-button {
  color: #615f5f;
}

.social-login {
  margin-bottom: 30%;
  height: auto;
//  background-color: #0056b3;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 0;
  position: relative;
}

/* Estilos para los iconos en los campos de entrada */
.form-group .mat-icon {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  left: 90%; /* Ajusta la distancia desde el borde izquierdo */
  color: #aaa;
}



.form-group .animated input {
  margin: 0;
  height: 40px; /* Aumentado el tamaño de los campos */
  color: #333;
  outline: none;
  transition: all 0.3s;
  width: 100%;
  // border: 1px solid #ccc; /* Añadido un borde ligero */
  border-radius: 5px;
  padding: 5px;
}
.form-group .animated label {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 16px;
  color: #000000;
  transition: all 0.3s;
}

.form-group .animated input:focus {
  border-color: #007bff;
}

.form-group .animated input:focus + label {
  top: -5px;
  font-size: 14px;
  color: #007bff;
}

/* Estiliza los campos de entrada con animación */
.form-group.mat-form-field .animated {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.form-group.mat-form-field .animated input {
  margin: 5px 0;
  color: #333;
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
}

.form-group.mat-form-field .animated label {
  position: relative;
  top: auto;
  left: auto;
  font-size: 16px;
  color: #777;
  transition: all 0.3s;
}

.form-group.mat-form-field .animated input:focus {
  background-color: #f8f8f8;
}

.form-group.mat-form-field .animated input:focus + label {
  top: -24px;
  font-size: 14px;
  color: #007bff;
}

/* Estiliza la barra de progreso */
.progress-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  margin: 15px 0;
}

.progress-step {
  flex: 1;
  text-align: center;
  color: #777;
  transition: color 0.3s;
}

.progress-step.active {
  color: #007bff;
}

h1,
p.section-title {
  font-size: 20px;
}

.next-button,
.prev-button {
  text-align: center;
}

.progress-bar {
  justify-content: space-evenly;
  font-size: 12px;
  margin: 15px 0;
}

/* Media Queries para hacerlo responsive */

@media (max-width: 768px) {
  .signup-container {
    padding: 1%;
    width: 75%;
  }
  .logo {
    max-width: 80px;
  }
  h1,
  p.section-title {
    font-size: 18px;
  }
  .social-button {
    // font-size: 14px;
    border-radius: 40px;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 11px;
    color: #333;
  }
}

@media (max-width: 480px) {
  .signup-container {
    padding: 2rem;
  }
  .logo {
    max-width: 60px;
  }
  h1,
  p.section-title {
    font-size: 16px;
  }
  .social-button {
    font-size: 12px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-button {
  justify-content: center;
  display: inline-block;
  padding: 5px 30px;
  background-color: #007bff;
  color: #fff;
  margin-bottom: 0%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.home-button:hover {
  background-color: #0056b3;
}
