// .titulo {
//   text-align: center;
//   margin-top: 20px;
// }

// .busquedacode {
//   background-color: #f0f0f0;
//   border-radius: 10px;
//   padding: 20px;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
// }

// .txtcode {
//   width: calc(100% - 40px);
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   margin-bottom: 10px;
// }

// .btncode {
//   margin: 2;
//   width: 40px;
//   padding: 10px;
//   border: none;
//   background-color: #8B4513;
//   color: white;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// .btncode:hover {
//   background-color: #6e361f;
// }
.titulo {
  text-align: center;
  margin-top: 20px;
}

.busquedacode {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.txtcode {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
}

.btncode {
  width: 60px;
  height: 40px;
  border: none;
  background-color: #8B4513;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btncode:hover {
  background-color: #6e361f;
}


.subtitulo {
  text-align: center;
  margin-top: 20px;
}

.detalle {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.subdetalle {
  margin-top: 10px;
}

.pedido-info {
  margin-top: 20px;
}
