/* header.component.scss */

/* Estilos del encabezado */
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.header-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.header-title {
  font-size: 1rem;
  margin: 0;
}

/* Estilos de la tabla de carrito */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-row {
  display: flex;
  // border-bottom: 1px solid #ccc;
}

.cart-header {
  font-weight: bold;
}

.cart-column {
  flex: 1;
  padding: 0.5rem;
}

.product-image {
  width: 40px;
  height: 40px;
  margin-right: 0.3rem;
  border-radius: 4px;
}

.product-name,
.product-quantity,
.product-price {
  font-size: 0.9rem;
}

.product-quantity-controls {
  display: flex;
  align-items: center;
}

.price-and-delete {
  display: flex;
  align-items: baseline;
}
.btn-quantity {
  color: #000000;
  border: #000000 1px solid;
  background-color: transparent;
  // border: none;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  padding: 10px;
  margin: 0 0.2rem;
  width: 1rem;
  height: 1rem;
}
.btn-delete{
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  padding: 10px;
  margin: 0 0.2rem;
  width: 1rem;
  height: 1rem;
}

/* Estilos para el pie de página */
.total-section {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #000000;
  font-weight: bold;
}
.btn {
  padding: 0.5rem; /* Reducir el padding */
  text-align: center;
  font-size: 0.9rem; /* Reducir el tamaño del texto */
  font-weight: bold; /* Negrita */
}
.btn-finish,
.btn-continue-shopping {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-finish {
  background-color: #000000;
  color: #ccc;
}

.btn-continue-shopping {
  background-color: transparent;
  color: #000000;
}


.empty-cart-message {
  font-style: italic;
  text-align: center; /* Centra el mensaje */
  margin: 1rem 0; /* Añade espacio alrededor del mensaje */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.empty-cart-message {
  animation: pulse 1.5s infinite; /* Aplica la animación */
}