
/* Agrega este bloque para cambiar el color del fondo y del texto al hacer scroll hacia abajo */
.scroll-header {
  // backdrop-filter: blur(10px);
  background-color: #333;

  .menu-btn {
    // color: #ffa500 !important; /* Cambia el color del texto al hacer scroll hacia abajo */
    color: #ffffff;
  }
  .mobile-menu-btn {
    color: #ffffff;
  }

  .mobile-menu-item_b1 {
    color: #ffffff;
  }
}
/* Estilos para el input de búsqueda */
.search-container input {
  padding: 10px; /* Espaciado interno para una apariencia más agradable */
  border: none; /* Quita el borde del input */
  border-radius: 20px; /* Agrega bordes redondeados */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  color: #333; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  width: 320px; /* Ancho del input */
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

/* Estilos para el botón de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
  border-radius: 20px;
  padding: 0px 10px;
  width: 360px; /* Ancho del contenedor de búsqueda */
  transition: background-color 0.3s ease;

  input {
    border: none; /* Quita el borde del input */
    background: transparent; /* Fondo transparente del input */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho del input del 100% del contenedor */
    outline: none; /* Quita el contorno al hacer clic en el input */
  }

  button {
    background-color: transparent; /* Color de fondo del botón */
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}

/* Estilo al pasar el mouse sobre el contenedor de búsqueda */
.search-container:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Cambio de color al pasar el mouse */
}

/* Agrega este bloque para cambiar el color del fondo y del texto al hacer scroll hacia abajo */
.scroll-header {
  background-color: #1d1b1b; /* Cambia el color de fondo al hacer scroll hacia abajo */
  .menu-btn,
  .mobile-menu-btn,
  .material-icons.primary,
  .mobile-menu-item_b1 {
    color: #fff; /* Cambia el color del texto al hacer scroll hacia abajo */
  }
}

.material-icons.primary {
  color: #ffa500; /* Cambia el color del icono */
  font-size: 24px; /* Ajusta el tamaño del icono según tus preferencias */
  margin: 0; /* Ajusta el margen según tus preferencias */
  padding: 0; /* Ajusta el espaciado según tus preferencias */
  cursor: pointer;
  /* Agrega sombra al icono */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.mat-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .material-icons.primary {
    // padding: 20px 20px;
    font-size: 24px; /* Tamaño más pequeño para dispositivos móviles */
    margin-left: 3%;
  }
}

.is-detail-route.policy-header {
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  background-color: #171614; /* Cambia el color de fondo a lo que necesites */
}

/* Agrega estilos específicos para dispositivos web */
@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh; /* Ajusta según tus necesidades */
    overflow-y: hidden; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #ffa500;
  }
}


.filter-section {

  position: fixed;
  top: 80px; /* Ajusta según la altura del encabezado */
  left: 0;
  right: 0;
  height:1vh;
  border-radius: 10px;
  z-index: 1000;
  transition: background-color 0.5s ease, color 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(31, 29, 29, 0.667);
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.filter-section label,
.filter-section select {
  color: #fff; /* Color del texto */
}

.filter-section select {

  padding: 8px;
  border: 1px solid #fff; /* Borde blanco */
  border-radius: 5px;
  background-color: transparent; /* Fondo transparente */
  color: #fff; /* Color del texto */
  cursor: pointer;
}

.filter-section button {
  margin-right:  30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Ajusta el relleno según tus necesidades */
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

/* Estilo al pasar el mouse sobre las opciones del filtro */
.filter-section select:hover {
  background-color: #555; /* Cambio de color al pasar el mouse */
}

/* Agrega estos estilos si deseas que la sección de filtrado tenga bordes redondeados */
.filter-section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Estilos adicionales para dispositivos móviles (pantallas de hasta 768px de ancho) */
@media (max-width: 768px) {
  .filter-section {
    top: 85px; /* Ajusta según la altura del encabezado */
    z-index: 1;
    border-radius: 10px;
    // margin-top: 85px;
    // height: 0%;
    flex-direction: row; /* Apila los elementos en dispositivos móviles */
    text-align: center;
  }

  .filter-section select {
    margin-top: 5px; /* Espaciado superior para las opciones del filtro en móviles */
  }
}
