@media (max-width: 768px) {
  .material-icons.primary {
    font-size: 24px; 
    margin-left: 3%;
  }
}

@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh; 
    overflow-y: hidden; 
    background-color: #ffa500;
  }
  .logo-container {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }
  .logo-container img {
    max-width: 60%;
  }
  .menu-btn {
    background-color: transparent; /* Color de fondo del botón */
    color: #ffa500; /* Color del texto */
    border: none;
    font-family: "Great Vibes", initial;
    font-weight: lighter;
    padding: 20px 20px;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    margin-bottom: 2px;

    margin-right: 14px; /* Espacio entre botones */
    transition:
      background-color 1.5s ease,
      transform 0.9s ease;
    &:hover {
      border-radius: 2px;
      border-bottom: 1.5px solid #e9ba81;
      box-shadow: -4px 192px 300px -94px rgba(0, 0, 0, 1);

      transform: scale(1.1);
    }

    /* Estilo al hacer clic en el botón */
    &:active {
      color: #1a1717;
      // background-color: #d4d0cc; /* Color de fondo al hacer clic */
      transform: scale(0.95); /* Efecto de escala al hacer clic */
    }
  }
}
.menu-btn-icon {
  // background-color: transparent; /* Color de fondo del botón */
  color: #ffa500; /* Color del texto */

  font-size: 22;
  // height: 0%;

  cursor: pointer;
}

.button-container-mobile {
  display: none;
  position: relative; /* Agrega posición relativa al contenedor */
}

.mobile-menu-btn {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  display: block; 
}

.mobile-menu-btn:focus {
  outline: none; 
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 5; /* Alinea el menú a la derecha */
  background-color: #fff;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 150px;
}

.mobile-menu-item {
  padding: 10px 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.mobile-menu-item:hover {
  background-color: #f3dcb2;
}
