

/* Estilo al pasar el mouse sobre el contenedor de búsqueda */
.search-container:hover {
  background-color: rgba(255, 255, 255, 0.7); 
}
.scroll-header {
  background-color: #1d1b1b; /* Cambia el color de fondo al hacer scroll hacia abajo */
  .menu-btn,
  .mobile-menu-btn,
  .material-icons.primary,
  .mobile-menu-item_b1 {
    color: #fff; /* Cambia el color del texto al hacer scroll hacia abajo */
  }
}

.material-icons.primary {
  color: #ffa500; /* Cambia el color del icono */
  font-size: 24px; /* Ajusta el tamaño del icono según tus preferencias */
  margin: 0; /* Ajusta el margen según tus preferencias */
  padding: 0; /* Ajusta el espaciado según tus preferencias */
  cursor: pointer;
  /* Agrega sombra al icono */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.mat-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .material-icons.primary {
    // padding: 20px 20px;
    font-size: 24px; /* Tamaño más pequeño para dispositivos móviles */
    margin-left: 3%;
  }
}

.is-detail-route.policy-header {
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  background-color: #171614; /* Cambia el color de fondo a lo que necesites */
}
.is-detail-route.filter-section {
  backdrop-filter: blur(10px); 
  background-color: #171614; 
}

@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh; /* Ajusta según tus necesidades */
    overflow-y: hidden; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #ffa500;
  }
}
