<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
<!-- HTML -->
<!-- HTML -->
<!-- Agrega el componente de PrimeNG para el input -->
<p-sidebar [(visible)]="sidebarVisible4" [fullScreen]="true">
  <p-toast position="top-center"></p-toast>
  <h3 class="titulo">Consulta orden</h3>
  <div class="card flex justify-content-center busquedacode">
    <input
      class="txtcode"
      type="text"
      pInputText
      [(ngModel)]="codigoPedido"
      placeholder="Ingresa el código del pedido"
    />
    <button
      class="btncode"
      pButton
      type="button"
      icon="pi pi-search"
      (click)="consultarPedido()"
    ></button>
  </div>
  <!-- Mostrar los detalles del pedido -->
  <!-- <div *ngIf="pedidoInfo" class="pedido-info">
    <h4 class="subtitulo">Detalles del Pedido</h4>
    <div class="detalle">
      <p>
        <strong>Código del Pedido:</strong>
        {{ pedidoInfo.resultado.codigoPedido }}
      </p>
      <p>
        <strong>Estado del Pedido:</strong>
        {{ pedidoInfo.resultado.estadoPedido }}
      </p>
      <p>
        <strong>Fecha de Creación:</strong> {{ pedidoInfo.resultado.createdAt }}
      </p>
      <p><strong>Detalle del Pedido:</strong></p>
      <ul>
        <li>
          <strong>Id:</strong> {{ pedidoInfo.resultado.detallePedido._id }}
        </li>
        <li>
          <strong>Cantidad:</strong>
          {{ pedidoInfo.resultado.detallePedido.cantidad }}
        </li>
        <li>
          <strong>Día:</strong> {{ pedidoInfo.resultado.detallePedido.dia }}
        </li>
        <li>
          <strong>Hora:</strong> {{ pedidoInfo.resultado.detallePedido.hora }}
        </li>
        <li>
          <strong>Modo:</strong> {{ pedidoInfo.resultado.detallePedido.modo }}
        </li>
        <li>
          <strong>Modo Personalizado:</strong>
          {{ pedidoInfo.resultado.detallePedido.modoPersonalizado }}
        </li>
        <li>
          <strong>Sabor:</strong> {{ pedidoInfo.resultado.detallePedido.sabor }}
        </li>
        <li>
          <strong>Sabor Personalizado:</strong>
          {{ pedidoInfo.resultado.detallePedido.saborPersonalizado }}
        </li>
        <li>
          <strong>Precio Total:</strong>
          {{ pedidoInfo.resultado.detallePedido.precioTotal }}
        </li>
      </ul>
      <p><strong>Usuario:</strong> {{ pedidoInfo.resultado.usuario.name }}</p>
      <p>
        <strong>Email del Usuario:</strong>
        {{ pedidoInfo.resultado.usuario.email }}
      </p>
      <p>
        <strong>Teléfono del Usuario:</strong>
        {{ pedidoInfo.resultado.usuario.phone }}
      </p>

      <p>
        <strong>Estado del Usuario:</strong>
        {{ pedidoInfo.resultado.usuario.status }}
      </p>

    </div>
  </div> -->

<!--

<!<!-- venta -->

<div *ngIf="pedidoInfo">
  <h2>Detalles del Pedido</h2>
  <ul>
    <li><strong>_id del pedido:</strong> {{ pedidoInfo.resultado._id }}</li>
    <li><strong>Usuario:</strong>
      <ul>
        <li><strong>_id del usuario:</strong> {{ pedidoInfo.resultado.user._id }}</li>
        <li><strong>Email:</strong> {{ pedidoInfo.resultado.user.email }}</li>
        <li><strong>Rol:</strong> {{ pedidoInfo.resultado.user.rol }}</li>
        <li><strong>Nombre:</strong> {{ pedidoInfo.resultado.user.name }}</li>
        <li><strong>Apellido Paterno:</strong> {{ pedidoInfo.resultado.user.paternalLastname }}</li>
        <li><strong>Apellido Materno:</strong> {{ pedidoInfo.resultado.user.maternalLastname }}</li>
        <li><strong>Teléfono:</strong> {{ pedidoInfo.resultado.user.phone }}</li>
        <li><strong>Estado:</strong> {{ pedidoInfo.resultado.user.status }}</li>
      </ul>
    </li>
    <li><strong>Detalles:</strong>
      <ul>
        <li *ngFor="let detail of pedidoInfo.resultado.details">
          <ul>
            <li><strong>_id:</strong> {{ detail._id }}</li>
            <li><strong>User:</strong> {{ detail.user }}</li>
            <li><strong>Total Amount:</strong> {{ detail.totalAmount }}</li>
            <li><strong>Delivery Type:</strong> {{ detail.deliveryType }}</li>
            <li><strong>Delivery Date:</strong> {{ detail.deliveryDate }}</li>
            <li><strong>Instruction:</strong> {{ detail.instrucion }}</li>
            <li><strong>Status:</strong> {{ detail.status }}</li>
            <li><strong>Created At:</strong> {{ detail.createdAt }}</li>
            <!-- Agregar datos del producto -->
            <li><strong>Productos:</strong>
              <ul>
                <li *ngFor="let product of detail.products">
                  <ul>
                    <li><strong>ID del Producto:</strong> {{ product.product }}</li>
                    <li><strong>Cantidad:</strong> {{ product.quantity }}</li>
                    <!-- Puedes agregar más detalles del producto si es necesario -->
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><strong>Total Amount:</strong> {{ pedidoInfo.resultado.totalAmount }}</li>
    <li><strong>Paypal Order ID:</strong> {{ pedidoInfo.resultado.paypalOrderID }}</li>
    <li><strong>Created At:</strong> {{ pedidoInfo.resultado.createdAt }}</li>
  </ul>
</div>






</p-sidebar>

<!-- HTML -->
<!-- HTML -->

<p-sidebar [(visible)]="sidebarVisible" class="mobile-sidebar">
  <div
    pAnimateOnScroll
    enterClass="scalein"
    leaveClass="fadeout"
    class="sidebar-header animation-duration-1000 animation-ease-in-out"
    data-aos="fade-left"
    data-aos-anchor="#example-anchor"
    data-aos-offset="500"
    data-aos-duration="500"
  >
    <span class="pi pi-user"></span>
    <span class="user-name">{{ userName }}</span>
  </div>
  <!-- <hr class="sidebar-divider" /> -->
  <div class="mobile-menu-item" (click)="redirectTo('home')">
    <span class="pi pi-home"></span> Home
  </div>
  <div class="mobile-menu-item" (click)="redirectTo('acercade')">
    <span class="pi pi-info-circle"></span> Acerca De
  </div>
  <div
    class="mobile-menu-item"
    (click)="sidebarVisible4 = true; sidebarVisible = false"
  >
    <span class="pi pi-book"></span> Seguimiento -pedidos
  </div>
  <div class="mobile-menu-item" (click)="redirectTo('perfil')" *ngIf="userName">
    <span class="pi pi-user"></span> Perfil
  </div>
  <div
    class="mobile-menu-item"
    (click)="redirectTo('miscompras')"
    *ngIf="userName"
    data-aos="zoom-out-left"
  >
    <span class="pi pi-shopping-cart"></span> Mis Compras
  </div>
  <div
    class="mobile-menu-item"
    (click)="redirectTo('configuracion')"
    *ngIf="userName"
    data-aos="zoom-out-left"
  >
    <span class="pi pi-cog"></span> Configuración
  </div>
  <div
    class="mobile-menu-item"
    (click)="redirectTo('notificaciones')"
    *ngIf="userName"
    data-aos="zoom-out-left"
  >
    <span
      class="pi pi-bell text-3xl"
      pBadge
      value="2"
      severity="warning"
    ></span>
    Notificaciones
    <!-- <i class="pi pi-bell text-3xl" pBadge value="2"></i> -->
  </div>
  <div
    class="mobile-menu-item"
    (click)="redirectTo('historial')"
    *ngIf="userName"
    data-aos="zoom-out-left"
  >
    <span class="pi pi-clock"></span> Historial
  </div>
  <div
    class="mobile-menu-item"
    (click)="redirectTo('ayuda')"
    *ngIf="userName"
    data-aos="zoom-out-left"
  >
    <span class="pi pi-question-circle"></span> Ayuda/Soporte
  </div>
  <div
    class="mobile-menu-item"
    (click)="redirectTo('favoritos')"
    *ngIf="userName"
    data-aos="zoom-out-left"
  >
    <span class="pi pi-star"></span> Favoritos
  </div>
  <div
    class="mobile-menu-item"
    (click)="redirectTo('ajustes-cuenta')"
    *ngIf="userName"
  >
    <span class="pi pi-pencil"></span> Ajustes de Cuenta
  </div>
  <hr class="sidebar-divider" />
  <div
    data-aos="fade-right"
    data-aos-anchor="#example-anchor"
    data-aos-offset="500"
    data-aos-duration="500"
  >
    <div *ngIf="!userName" class="mobile-menu-item" (click)="openSignInModal()">
      <span class="pi pi-sign-in"></span> Sign In
    </div>
    <div *ngIf="userName" class="mobile-menu-item" (click)="logout()">
      <span class="pi pi-sign-out"></span> Logout
    </div>
  </div>
</p-sidebar>
<!-- HTML -->
<!-- HTML -->
<!-- HTML -->
<!-- HTML -->
<p-sidebar [(visible)]="sidebarVisible2">
  <div class="sidebar-header" data-aos="zoom-out-left">
    <span class="header-icon pi pi-shopping-cart"></span>
    <h2 class="header-title">Tu Carrito</h2>
  </div>
  <div class="sidebar-content">
    <div *ngIf="carData.length > 0; else emptyCart">
      <div class="cart-table">
        <div class="cart-row cart-header">
          <div class="cart-column">Artículo</div>
          <div class="cart-column">Cantidad</div>
          <div class="cart-column">Precio</div>
        </div>
        <div *ngFor="let item of carData" class="cart-row">
          <div class="cart-column">
            <!-- <img
              [src]="item.image[0] | defaultImg"
              alt="Producto"
              class="product-image"
            /> -->
            <img
              [src]="item.image[0] ? item.image[0] : 'defaultImg'"
              alt="Producto"
              class="product-image"
            />
            <span class="product-name">{{ item.name }}</span>
          </div>
          <div class="cart-column">
            <div class="product-quantity-controls">
              <!-- <button pButton type="button" icon="pi pi-plus" class="btn-quantity" (click)="incrementQuantity(item)"></button> -->
              <button
                pButton
                type="button"
                icon="pi pi-plus"
                class="btn-quantity"
                (click)="incrementQuantity(item)"
              ></button>
              <span class="product-quantity"> {{ item.cantidad }} </span>
              <button
                pButton
                type="button"
                icon="pi pi-minus"
                class="btn-quantity"
                (click)="decrementQuantity(item)"
                [disabled]="item.cantidad === 1"
              ></button>
            </div>
          </div>
          <div class="cart-column">
            <div class="price-and-delete">
              <!-- Precio del producto -->
              <span class="product-price">{{ item.precio | currency }}</span>
              <!-- Botón eliminar -->
              <p-toast position="top-center"></p-toast>
              <p-confirmPopup></p-confirmPopup>

              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="btn-delete"
                (click)="confirm2($event, item)"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <hr class="sidebar-divider" />
      <div class="total-section">
        <span class="total-label">Total:</span>
        <span class="total-amount">{{ getTotalAmount() | currency }}</span>
        <!-- <span class="total-amount">{{ totalAmount | currency }}</span> -->
      </div>
      <div class="btn" data-aos="zoom-in-left">
        <button class="btn-finish" (click)="finishPurchase()">
          Finalizar Compra
        </button>
      </div>
    </div>
    <ng-template #emptyCart>
      <div class="empty-cart-message">Tu carrito está vacío</div>
    </ng-template>
    <button
      pButton
      class="btn-continue-shopping"
      icon="pi pi-angle-left"
      (click)="closeToCart()"
    >
      Cerrar y Continuar Comprando
    </button>
  </div>
</p-sidebar>

<!-- HTML -->
<!-- HTML -->
<!-- HTML -->
<!-- HTML -->
<p-sidebar [(visible)]="sidebarVisible3">
  <!-- HTML para la sección de filtrado de productos de repostería -->
  <div class="sidebar-content">
    <div class="sidebar-header" data-aos="zoom-out-left">
      <span class="header-icon pi pi-shopping-cart"></span>
      <h2 class="header-title">Tu Carrito</h2>
    </div>
    <!-- Filtro por categoría -->
    <div class="filter-item">
      <label for="category">Categoría:</label>
      <select
        id="category"
        [(ngModel)]="selectedCategory"
        class="filter-select"
      >
        <option value="pasteleria">Pastelería</option>
        <option value="tartas">Tartas</option>
        <option value="cupcakes">Cupcakes</option>
        <!-- Agrega más opciones según tus categorías -->
      </select>
    </div>

    <!-- Filtro por precio -->
    <div class="filter-item">
      <label for="price">Precio:</label>
      <p-slider
        [(ngModel)]="rangeValues"
        [range]="true"
        class="filter-slider"
      ></p-slider>

      <!-- <input type="range" id="price" [(ngModel)]="selectedPrice" min="0" max="100" step="1" /> -->
      <!-- <span>{{ rangeValues | currency }}</span> -->
    </div>

    <!-- Filtro por color -->

    <!-- Otros filtros -->
    <!-- Agrega más filtros según tus necesidades -->

    <!-- Botón para aplicar filtros -->

    <ng-template #emptyCart>
      <div class="empty-cart-message">Tu carrito está vacío</div>
    </ng-template>

    <div
      class="btn"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
    >
      <button class="btn-finish" (click)="finishPurchase()">
        aplicar filtros
      </button>
    </div>
  </div>
</p-sidebar>

<div *ngIf="shouldShowHeader">
  <div
    class="policy-header"
    [class.scroll-header]="isHeaderScrolled"
    [class.is-detail-route]="!isRUTA_DISTINTE_ahome()"
  >
    <link
      href="https://fonts.googleapis.com/css?family=Great+Vibes"
      rel="stylesheet"
    />
    <div class="logo-container">
      <img
        src="https://static.wixstatic.com/media/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png/v1/fill/w_834,h_221,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png"
        alt="Logo de Tu Empresa"
      />
    </div>
    <div
      class="button-container-mobile"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-center"
      data-aos-duration="900"
    >
      <!-- <div class="card flex justify-content-center"> -->
      <div>
        <button class="mobile-menu-btn" (click)="sidebarVisible = true">
          <span class="pi pi-bars"></span>
        </button>
      </div>
    </div>

    <div class="search-container">
      <!-- <button class="btnbusa">
        <mat-icon class="material-icons primary">search</mat-icon>
      </button> -->
      <button class="btnbusa">
        <mat-icon class="material-icons primary">
          <i class="pi pi-search"></i>
        </mat-icon>
      </button>
      <input
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Buscar..."
      />
    </div>

    <div
      class="button-container-pc"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-center"
      data-aos-duration="900"
    >
      <button class="menu-btn" (click)="redirectTo('home')">home</button>

      <!-- <button class="menu-btn" >cotizar otro diseño</button> -->
      <button class="menu-btn" (click)="sidebarVisible4 = true">
        Seguimiento -pedidos
      </button>
      <button [matMenuTriggerFor]="productsMenu" class="menu-btn">
        catalogo
      </button>
      <mat-menu
        style="background-color: transparent"
        class="menuweb"
        #productsMenu="matMenu"
        yPosition="below"
      >
        <div mat-menu-item class="mobile-menu-item_b1">Productos</div>
        <div
          mat-menu-item
          class="mobile-menu-item_b1"
          (click)="redirectTo('acercade')"
        >
          promosiones
        </div>
        <div
          mat-menu-item
          class="mobile-menu-item_b1"
          (click)="redirectTo('home')"
        >
          acerca de
        </div>
      </mat-menu>
      <!--
      <button *ngIf="!userName" class="menu-btn" (click)="openSignInModal()">
        <mat-icon class="material-icons2 primary">account_circle</mat-icon>
      </button> -->

      <button *ngIf="!userName" class="menu-btn" (click)="openSignInModal()">
        <mat-icon class="material-icons2 primary">
          <i class="pi pi-user"></i>
        </mat-icon>
      </button>

      <button
        *ngIf="userName"
        [matMenuTriggerFor]="userOption"
        class="menu-btn"
      >
        <span class="pi pi-user"></span>

        {{ userName }}
      </button>
      <mat-menu
        style="background-color: transparent"
        class="menuweb"
        #userOption="matMenu"
        yPosition="below"
      >
        <div mat-menu-item class="mobile-menu-item_b1">perfil</div>
        <div
          mat-menu-item
          class="mobile-menu-item_b1"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-center"
          data-aos-duration="900"
        >
          <span class="pi pi-shopping-bag"></span> mis compras
        </div>
        <div mat-menu-item class="mobile-menu-item_b1" (click)="logout()">
          <span><span class="pi pi-sign-out"></span> Cerrar sesión</span>
        </div>
      </mat-menu>
    </div>

    <mat-icon
      *ngIf="!isruta_orderdetail()"
      [matBadge]="badge"
      matBadgeColor="warn"
      class="material-icons primary"
      (click)="goToCart()"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-center"
      data-aos-duration="900"
    >
      <i class="pi pi-shopping-cart" style="font-size: 1.2rem"></i>
    </mat-icon>

    <mat-icon
      *ngIf="isruta_orderdetail()"
      [matBadge]="badge"
      matBadgeColor="warn"
      class="material-icons primary"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-center"
      data-aos-duration="900"
    >
      <i class="pi pi-shopping-cart" style="font-size: 1.2rem"></i>
    </mat-icon>
  </div>

  <div
    *ngIf="!isruta_orderdetail()"
    class="filter-section"
    [class.is-detail-route]="!isRUTA_DISTINTE_ahome()"
  >
    <label for="categoryFilter">Categoría:</label>
    <button (click)="sidebarVisible3 = true">
      filtrar
      <mat-icon>filter_alt</mat-icon>
    </button>

    <label for="sortOrder">Ordenar por:</label>
    <select id="sortOrder">
      <option value="nuevo">Nuevo</option>
      <option value="popular">Popular</option>
    </select>
  </div>

  <!-- Nueva sección de filtrado -->
</div>
