@media (max-width: 1440px) {
  .material-icons.primary {
    font-size: 24px;
    margin-left: 3%;
  }


  // .logo-container {
  //   flex: 1;
  //   text-align: center;
  //   margin-right: 20px;

  //   img {
  //     max-width: 90%;
  //   }
  // }
}

@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh;
    overflow-y: hidden;
    background-color: #ffa500;
  }

  .menu-btn {
    background-color: transparent; /* Color de fondo del botón */
    color: #ffa500; /* Color del texto */
    border: none;
    font-family: "Great Vibes", initial;
    font-weight: lighter;
    padding: 20px 20px;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    margin-bottom: 2px;

    margin-right: 14px; /* Espacio entre botones */
    transition:
      background-color 1.5s ease,
      transform 0.9s ease;
    &:hover {
      border-radius: 2px;
      border-bottom: 1.5px solid #e9ba81;
      box-shadow: -4px 192px 300px -94px rgba(0, 0, 0, 1);

      transform: scale(1.1);
    }

    /* Estilo al hacer clic en el botón */
    &:active {
      color: #1a1717;
      // background-color: #d4d0cc; /* Color de fondo al hacer clic */
      transform: scale(0.95); /* Efecto de escala al hacer clic */
    }
  }
}
.menu-btn-icon {
  color: #ffa500; /* Color del texto */

  font-size: 22;
  cursor: pointer;
}

.button-container-mobile {
  display: none;
  position: relative; /* Agrega posición relativa al contenedor */
}

.mobile-menu-btn:focus {
  outline: none;
}


.mobile-menu-item {
  padding: 10px 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.mobile-menu-item:hover {
  background-color: #f3dcb2;
}
