
.policy-header {
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(31, 29, 29, 0.49);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  flex: 1;
  text-align: center;
  margin-right: 20px;

  img {
    max-width: 60%;
  }
}

.button-container-mobile {
  display: none;
  position: relative;
}

.mobile-menu-btn {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.mobile-menu-btn:focus {
  outline: none;
}

.mobile-menu {
  display: flex;
  position: absolute;
  top: 100%;
  right: 5;
  background-color: #fff;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 150px;
}

.mobile-menu-item {
  text-align: center;
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #f3b5b2;
  }
}
