/* Agrega estilos específicos para dispositivos web */

@media (max-width: 768px) {
  .material-icons.primary {
    font-size: 24px; /* Tamaño más pequeño para dispositivos móviles */
    margin-left: 3%;
  }
}

.is-detail-route.policy-header {
  // backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  // background-color: #171614; /* Cambia el color de fondo a lo que necesites */
}


@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh; /* Ajusta según tus necesidades */
    overflow-y: hidden; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #ffa500;
  }
}

/* Estilos generales para el componente */
.policy-header {
  position: fixed; /* Fija el header en la parte superior de la página */
  top: 0;
  left: 0;
  right: 0;
  transition:
    background-color 0.5s ease,
    /* Transiciones suaves para el cambio de color de fondo */ color 0.5s ease; /* y de texto */
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(31, 29, 29, 0.49); /* Color de fondo semi-transparente */
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.logo-container {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.logo-container img {
  max-width: 60%;
}

/* Estilos para el botón de menú en pantallas de PC */
.menu-btn {

  background-color: transparent; /* Color de fondo del botón */
  color: #ffa500; /* Color del texto */
  border: none;
  font-family: "Great Vibes", initial;
  font-weight: lighter;
  padding: 20px 20px;
  font-size: 14px;
  cursor: pointer;
  height: auto;
  margin-bottom: 2px;

  margin-right: 14px; /* Espacio entre botones */
  transition:
    background-color 1.5s ease,
    transform 0.9s ease;

  /* Estilo al pasar el mouse sobre el botón */
  &:hover {
    border-radius: 2px;
    border-bottom: 1.5px solid #e9ba81;
    box-shadow: -4px 192px 300px -94px rgba(0, 0, 0, 1);

    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
    // border-collapse: separate;
  }

  /* Estilo al hacer clic en el botón */
  &:active {
    color: #1a1717;
    // background-color: #d4d0cc; /* Color de fondo al hacer clic */
    transform: scale(0.95); /* Efecto de escala al hacer clic */
  }

}
.menu-btn-icon {

  // background-color: transparent; /* Color de fondo del botón */
  color: #ffa500; /* Color del texto */

  font-size: 22;
  // height: 0%;

  cursor: pointer;

}

/* Estilos para la sección de menú móvil */
.button-container-mobile {
  display: none; /* Oculta el menú móvil por defecto en pantallas de PC */
  position: relative; /* Agrega posición relativa al contenedor */
}

.mobile-menu-btn {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin: 0 auto; /* Centra horizontalmente */
  display: block; /* Asegura que el icono sea un bloque para centrarlo verticalmente */
}

.mobile-menu-btn:focus {
  outline: none; /* Quita el contorno al hacer clic en el botón */
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 5; /* Alinea el menú a la derecha */
  background-color: #fff;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 150px;
}

.mobile-menu-item {
  padding: 10px 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.mobile-menu-item:hover {
  background-color: #f3dcb2; /* Color de fondo al pasar el mouse */
}

/* Estilos para dispositivos móviles (pantallas de hasta 768px de ancho) */
@media (max-width: 768px) {
  .logo-container {
    flex: 1;

    text-align: center;
    margin-right: 0; /* Elimina el margen derecho para ajustar al centro */
  }

  .logo-container img {
    max-width: 100%; /* Asegura que el logotipo se ajuste al ancho de la pantalla */
    display: none; /* Asegura que el logotipo ocupe el ancho completo disponible */
  }
  .policy-header {
    min-height: 60px; /* Fija la altura mínima del encabezado en dispositivos móviles */
    padding-top: 10px; /* Espaciado superior adicional para acomodar el botón móvil */
    padding-bottom: 10px; /* Espaciado inferior adicional para acomodar el botón móvil */
  }
  // .is-detail-route .policy-header {
  //   background-color: #ff0000; /* Cambia el color de fondo a rojo */
  // }

  .mobile-menu-btn {
    background-color: transparent;
    color: #ffa500;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Asegura que el icono sea un bloque para centrarlo verticalmente */
  }
  .button-container-mobile {
    display: flex; /* Muestra el menú móvil solo en dispositivos móviles */
    align-items: center;
    position: relative;
  }

  .button-container-mobile:hover .mobile-menu {
    display: block; /* Muestra el menú al pasar el mouse sobre el botón */
  }

  .button-container-pc {
    display: none; /* Oculta el contenedor de PC en dispositivos móviles */
  }

  .policy-header {
    min-height: 60px; /* Fija la altura mínima del encabezado en dispositivos móviles */
  }
}

.mat-menu {
  top: 0px;
  left: 0px;
  margin: 0px;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  background-color: transparent;
}
.mobile-menu-item_b1 {
  padding: 10px 20px;
  background-color: transparent;
  text-align: center;
  // color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background: #333333;
  color: #ffa500;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
}
