@media (max-width: 768px) {
  .logo-container {
    flex: 1;

    text-align: center;
    margin-right: 0; 
  }

  .logo-container img {
    max-width: 100%; 
    display: none; 
  }

  .mobile-menu-btn {
    background-color: transparent;
    color: #ffa500;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; 
  }
  .button-container-mobile {
    display: flex; /* Muestra el menú móvil solo en dispositivos móviles */
    align-items: center;
    position: relative;
  }

  .button-container-mobile:hover .mobile-menu {
    display: block; /* Muestra el menú al pasar el mouse sobre el botón */
  }

  .button-container-pc {
    display: none; /* Oculta el contenedor de PC en dispositivos móviles */
  }
}

.mat-menu {
  top: 0px;
  left: 0px;
  margin: 0px;
  backdrop-filter: blur(10px);
  background-color: transparent;
}
.mobile-menu-item_b1 {
  padding: 10px 20px;
  background-color: transparent;
  text-align: center;
  // color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background: #333333;
  color: #ffa500;
  backdrop-filter: blur(10px);
}
