:host{
  *{
    // outline: 1px solid red;
//
}

}
/* Estilos generales para el componente */
.policy-header {
  height:5vh; /* Establece la altura del contenedor .policy-header a 80 píxeles */
  position: fixed; /* Fija el header en la parte superior de la página */
  top: 0;
  left: 0;
  right: 0;
  // height: min-content;
  transition:
    background-color 0.5s ease,
    /* Transiciones suaves para el cambio de color de fondo */ color 0.5s ease; /* y de texto */
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(31, 29, 29, 0.49); /* Color de fondo semi-transparente */
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  // padding: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.logo-container {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.logo-container img {
  max-width: 60%;
}

// /* Estilos para el botón de menú en pantallas de PC */
// .menu-btn {
//   background-color: transparent; /* Color de fondo del botón */
//   color: #ffa500; /* Color del texto */
//   border: none;
//   font-family: "Great Vibes", initial;
//   font-weight: lighter;
//   height: auto;
//   font-size: 14px;
//   cursor: pointer;
//   // border-radius: 5px; /* Borde redondeado */
//   margin-right: 14px; /* Espacio entre botones */
//   transition:
//     background-color 7s ease,
//     transform 6s ease;

//   /* Estilo al pasar el mouse sobre el botón */
//   &:hover {
//     border-radius: 2px;
//     // border-bottom: 1.5px solid #e9ba81;

//     box-shadow: -4px 192px 300px -94px rgba(0, 0, 0, 1);

//     transform: scale(1.1); /* Efecto de escala al pasar el mouse */
//     // border-collapse: separate;
//   }

//   /* Estilo al hacer clic en el botón */
//   &:active {
//     color: #1a1717;
//     // background-color: #d4d0cc; /* Color de fondo al hacer clic */
//     transform: scale(0.95); /* Efecto de escala al hacer clic */
//   }
// }

/* Estilos para la sección de menú móvil */
.button-container-mobile {
  display: none; /* Oculta el menú móvil por defecto en pantallas de PC */
  position: relative; /* Agrega posición relativa al contenedor */
}

.mobile-menu-btn {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin: 0 auto; /* Centra horizontalmente */
  display: block; /* Asegura que el icono sea un bloque para centrarlo verticalmente */
}

.mobile-menu-btn:focus {
  outline: none; /* Quita el contorno al hacer clic en el botón */
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 5; /* Alinea el menú a la derecha */
  background-color: #fff;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 150px;
}

.mobile-menu-item {
  // padding: 10px 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.mobile-menu-item:hover {
  background-color: #f3b5b2; /* Color de fondo al pasar el mouse */
}

/* Estilos para dispositivos móviles (pantallas de hasta 768px de ancho) */
@media (max-width: 768px) {
  .logo-container {
    flex: 1;

    text-align: center;
    margin-right: 0; /* Elimina el margen derecho para ajustar al centro */
  }

  .logo-container img {
    max-width: 100%; /* Asegura que el logotipo se ajuste al ancho de la pantalla */
    display: none; /* Asegura que el logotipo ocupe el ancho completo disponible */
  }
  .policy-header {
    min-height: 60px; /* Fija la altura mínima del encabezado en dispositivos móviles */
    padding-top: 10px; /* Espaciado superior adicional para acomodar el botón móvil */
    padding-bottom: 10px; /* Espaciado inferior adicional para acomodar el botón móvil */
  }
  // .is-detail-route .policy-header {
  //   background-color: #ff0000; /* Cambia el color de fondo a rojo */
  // }

  .mobile-menu-btn {
    background-color: transparent;
    color: #ffa500;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Asegura que el icono sea un bloque para centrarlo verticalmente */
  }
  .button-container-mobile {
    display: flex; /* Muestra el menú móvil solo en dispositivos móviles */
    align-items: center;
    position: relative;
  }

  .button-container-mobile:hover .mobile-menu {
    display: block; /* Muestra el menú al pasar el mouse sobre el botón */
  }

  .button-container-pc {
    display: none; /* Oculta el contenedor de PC en dispositivos móviles */
  }

  .policy-header {
    min-height: 60px; /* Fija la altura mínima del encabezado en dispositivos móviles */
  }
}

.mat-menu {
  top: 0px;
  left: 0px;
  // height: min-content;
  margin: 0px;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  background-color: transparent;
}
.mobile-menu-item_b1 {
  padding: 10px 20px;
  background-color: transparent;
  text-align: center;
  // color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background: #333333;
  color: #ffa500;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
}

/* Agrega este bloque para cambiar el color del fondo y del texto al hacer scroll hacia abajo */
.scroll-header {
  // backdrop-filter: blur(10px);
  background-color: #333;

  .menu-btn {
    // color: #ffa500 !important; /* Cambia el color del texto al hacer scroll hacia abajo */
    color: #ffffff;
  }
  .mobile-menu-btn {
    color: #ffffff;
  }

  .mobile-menu-item_b1 {
    color: #ffffff;
  }
}
/* Estilos para el input de búsqueda */
.search-container input {
  padding: 10px; /* Espaciado interno para una apariencia más agradable */
  border: none; /* Quita el borde del input */
  border-radius: 20px; /* Agrega bordes redondeados */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  color: #333; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  width: 320px; /* Ancho del input */
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

/* Estilos para el botón de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
  border-radius: 20px;
  padding: 0px 10px;
  width: 360px; /* Ancho del contenedor de búsqueda */
  transition: background-color 0.3s ease;

  input {
    border: none; /* Quita el borde del input */
    background: transparent; /* Fondo transparente del input */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho del input del 100% del contenedor */
    outline: none; /* Quita el contorno al hacer clic en el input */
  }

  button {
    background-color: transparent; /* Color de fondo del botón */
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}

/* Estilo al pasar el mouse sobre el contenedor de búsqueda */
.search-container:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Cambio de color al pasar el mouse */
}

/* Agrega este bloque para cambiar el color del fondo y del texto al hacer scroll hacia abajo */
.scroll-header {
  background-color: #1d1b1b; /* Cambia el color de fondo al hacer scroll hacia abajo */
  .menu-btn,
  .mobile-menu-btn,
  .material-icons.primary,
  .mobile-menu-item_b1 {
    color: #fff; /* Cambia el color del texto al hacer scroll hacia abajo */
  }
}

.material-icons.primary {
  color: #ffa500; /* Cambia el color del icono */
  font-size: 24px; /* Ajusta el tamaño del icono según tus preferencias */
  margin: 0; /* Ajusta el margen según tus preferencias */
  padding: 0; /* Ajusta el espaciado según tus preferencias */
  cursor: pointer;
  /* Agrega sombra al icono */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.mat-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .material-icons.primary {
    font-size: 24px; /* Tamaño más pequeño para dispositivos móviles */
    margin-left: 3%;
  }
}

.is-detail-route.policy-header {
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  background-color: #171614; /* Cambia el color de fondo a lo que necesites */
}

/* Agrega estilos específicos para dispositivos web */
@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh; /* Ajusta según tus necesidades */
    overflow-y: hidden; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #ffa500;
  }
}

/* Estilos generales para el componente */
.policy-header {
  position: fixed; /* Fija el header en la parte superior de la página */
  top: 0;
  left: 0;
  right: 0;
  transition:
    background-color 0.5s ease,
    /* Transiciones suaves para el cambio de color de fondo */ color 0.5s ease; /* y de texto */
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(31, 29, 29, 0.49); /* Color de fondo semi-transparente */
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.logo-container {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.logo-container img {
  max-width: 60%;
}

/* Estilos para el botón de menú en pantallas de PC */
.menu-btn {

  background-color: transparent; /* Color de fondo del botón */
  color: #ffa500; /* Color del texto */
  border: none;
  font-family: "Great Vibes", initial;
  font-weight: lighter;
  padding: 20px 20px;
  font-size: 14px;
  cursor: pointer;
  height: auto;
  margin-bottom: 2px;

  margin-right: 14px; /* Espacio entre botones */
  transition:
    background-color 1.5s ease,
    transform 0.9s ease;

  /* Estilo al pasar el mouse sobre el botón */
  &:hover {
    border-radius: 2px;
    border-bottom: 1.5px solid #e9ba81;
    box-shadow: -4px 192px 300px -94px rgba(0, 0, 0, 1);

    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
    // border-collapse: separate;
  }

  /* Estilo al hacer clic en el botón */
  &:active {
    color: #1a1717;
    // background-color: #d4d0cc; /* Color de fondo al hacer clic */
    transform: scale(0.95); /* Efecto de escala al hacer clic */
  }
  .mat-icon{

    // top: 0;
    // left: 0;
    // background-color: transparent;
    // font-size: 2rem;
    // margin: auto;
    // border: 0cap;
    // font-weight: 200;
    //  padding: 10%;
  }
}
.menu-btn-icon {

  // background-color: transparent; /* Color de fondo del botón */
  color: #ffa500; /* Color del texto */
  // border: none;
  // left: 0%;
  // top:100px;
  // padding: 10px;
  font-size: 22;
  // height: 0%;

  cursor: pointer;
  // height: auto;
  // margin-bottom: 1px;

  // margin-right: 14px; /* Espacio entre botones */
  // transition:
  //   background-color 1.5s ease,
  //   transform 0.9s ease;

  // /* Estilo al pasar el mouse sobre el botón */
  // &:hover {
  //   border-radius: 2px;
  //   border-bottom: 1.5px solid #e9ba81;
  //   box-shadow: -4px 192px 300px -94px rgba(0, 0, 0, 1);

  //   transform: scale(1.1); /* Efecto de escala al pasar el mouse */
  //   // border-collapse: separate;
  // }

  // /* Estilo al hacer clic en el botón */
  // &:active {
  //   color: #1a1717;
  //   // background-color: #d4d0cc; /* Color de fondo al hacer clic */
  //   transform: scale(0.95); /* Efecto de escala al hacer clic */
  // }
}

/* Estilos para la sección de menú móvil */
.button-container-mobile {
  display: none; /* Oculta el menú móvil por defecto en pantallas de PC */
  position: relative; /* Agrega posición relativa al contenedor */
}

.mobile-menu-btn {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin: 0 auto; /* Centra horizontalmente */
  display: block; /* Asegura que el icono sea un bloque para centrarlo verticalmente */
}

.mobile-menu-btn:focus {
  outline: none; /* Quita el contorno al hacer clic en el botón */
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 5; /* Alinea el menú a la derecha */
  background-color: #fff;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 150px;
}

.mobile-menu-item {
  padding: 10px 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.mobile-menu-item:hover {
  background-color: #f3dcb2; /* Color de fondo al pasar el mouse */
}

/* Estilos para dispositivos móviles (pantallas de hasta 768px de ancho) */
@media (max-width: 768px) {
  .logo-container {
    flex: 1;

    text-align: center;
    margin-right: 0; /* Elimina el margen derecho para ajustar al centro */
  }

  .logo-container img {
    max-width: 100%; /* Asegura que el logotipo se ajuste al ancho de la pantalla */
    display: none; /* Asegura que el logotipo ocupe el ancho completo disponible */
  }
  .policy-header {
    min-height: 60px; /* Fija la altura mínima del encabezado en dispositivos móviles */
    padding-top: 10px; /* Espaciado superior adicional para acomodar el botón móvil */
    padding-bottom: 10px; /* Espaciado inferior adicional para acomodar el botón móvil */
  }
  // .is-detail-route .policy-header {
  //   background-color: #ff0000; /* Cambia el color de fondo a rojo */
  // }

  .mobile-menu-btn {
    background-color: transparent;
    color: #ffa500;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Asegura que el icono sea un bloque para centrarlo verticalmente */
  }
  .button-container-mobile {
    display: flex; /* Muestra el menú móvil solo en dispositivos móviles */
    align-items: center;
    position: relative;
  }

  .button-container-mobile:hover .mobile-menu {
    display: block; /* Muestra el menú al pasar el mouse sobre el botón */
  }

  .button-container-pc {
    display: none; /* Oculta el contenedor de PC en dispositivos móviles */
  }

  .policy-header {
    min-height: 60px; /* Fija la altura mínima del encabezado en dispositivos móviles */
  }
}

.mat-menu {
  top: 0px;
  left: 0px;
  margin: 0px;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  background-color: transparent;
}
.mobile-menu-item_b1 {
  padding: 10px 20px;
  background-color: transparent;
  text-align: center;
  // color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background: #333333;
  color: #ffa500;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
}

/* Agrega este bloque para cambiar el color del fondo y del texto al hacer scroll hacia abajo */
.scroll-header {
  // backdrop-filter: blur(10px);
  background-color: #333;

  .menu-btn {
    // color: #ffa500 !important; /* Cambia el color del texto al hacer scroll hacia abajo */
    color: #ffffff;
  }
  .mobile-menu-btn {
    color: #ffffff;
  }

  .mobile-menu-item_b1 {
    color: #ffffff;
  }
}
/* Estilos para el input de búsqueda */
.search-container input {
  padding: 10px; /* Espaciado interno para una apariencia más agradable */
  border: none; /* Quita el borde del input */
  border-radius: 20px; /* Agrega bordes redondeados */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  color: #333; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  width: 320px; /* Ancho del input */
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

/* Estilos para el botón de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
  border-radius: 20px;
  padding: 0px 10px;
  width: 360px; /* Ancho del contenedor de búsqueda */
  transition: background-color 0.3s ease;

  input {
    border: none; /* Quita el borde del input */
    background: transparent; /* Fondo transparente del input */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho del input del 100% del contenedor */
    outline: none; /* Quita el contorno al hacer clic en el input */
  }

  button {
    background-color: transparent; /* Color de fondo del botón */
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}

/* Estilo al pasar el mouse sobre el contenedor de búsqueda */
.search-container:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Cambio de color al pasar el mouse */
}

/* Agrega este bloque para cambiar el color del fondo y del texto al hacer scroll hacia abajo */
.scroll-header {
  background-color: #1d1b1b; /* Cambia el color de fondo al hacer scroll hacia abajo */
  .menu-btn,
  .mobile-menu-btn,
  .material-icons.primary,
  .mobile-menu-item_b1 {
    color: #fff; /* Cambia el color del texto al hacer scroll hacia abajo */
  }
}

.material-icons.primary {
  color: #ffa500; /* Cambia el color del icono */
  font-size: 24px; /* Ajusta el tamaño del icono según tus preferencias */
  margin: 0; /* Ajusta el margen según tus preferencias */
  padding: 0; /* Ajusta el espaciado según tus preferencias */
  cursor: pointer;
  /* Agrega sombra al icono */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.mat-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .material-icons.primary {
    // padding: 20px 20px;
    font-size: 24px; /* Tamaño más pequeño para dispositivos móviles */
    margin-left: 3%;
  }
}

.is-detail-route.policy-header {
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  background-color: #171614; /* Cambia el color de fondo a lo que necesites */
}

/* Agrega estilos específicos para dispositivos web */
@media (min-width: 481px) {
  .web-dialog {
    max-height: 80vh; /* Ajusta según tus necesidades */
    overflow-y: hidden; /* Agrega una barra de desplazamiento vertical si es necesario */
    background-color: #ffa500;
  }
}


.filter-section {

  position: fixed;
  top: 80px; /* Ajusta según la altura del encabezado */
  left: 0;
  right: 0;
  height:1vh;
  border-radius: 10px;
  z-index: 1000;
  transition: background-color 0.5s ease, color 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(31, 29, 29, 0.667);
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.filter-section label,
.filter-section select {
  color: #fff; /* Color del texto */
}

.filter-section select {

  padding: 8px;
  border: 1px solid #fff; /* Borde blanco */
  border-radius: 5px;
  background-color: transparent; /* Fondo transparente */
  color: #fff; /* Color del texto */
  cursor: pointer;
}

.filter-section button {
  margin-right:  30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Ajusta el relleno según tus necesidades */
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

/* Estilo al pasar el mouse sobre las opciones del filtro */
.filter-section select:hover {
  background-color: #555; /* Cambio de color al pasar el mouse */
}

/* Agrega estos estilos si deseas que la sección de filtrado tenga bordes redondeados */
.filter-section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Estilos adicionales para dispositivos móviles (pantallas de hasta 768px de ancho) */
@media (max-width: 768px) {
  .filter-section {
    top: 85px; /* Ajusta según la altura del encabezado */
    z-index: 1;
    border-radius: 10px;
    // margin-top: 85px;
    // height: 0%;
    flex-direction: row; /* Apila los elementos en dispositivos móviles */
    text-align: center;
  }

  .filter-section select {
    margin-top: 5px; /* Espaciado superior para las opciones del filtro en móviles */
  }
}
