<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

<div *ngIf="shouldShowHeader">
  <div
    class="policy-header"
    [class.scroll-header]="isHeaderScrolled"
    [class.is-detail-route]="isTermRoute()"
    [class.is-detail-route]="isDetailRoute()"
    [class.is-detail-route]="isPoliRoute()"
    [class.is-detail-route]="isCookieRoute()"
  >
    <link
      href="https://fonts.googleapis.com/css?family=Great+Vibes"
      rel="stylesheet"
    />
    <div class="logo-container">
      <img
        src="https://static.wixstatic.com/media/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png/v1/fill/w_834,h_221,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png"
        alt="Logo de Tu Empresa"
      />
    </div>

    <div class="button-container-mobile">
      <!-- <button class="mobile-menu-btn" (click)="toggleMobileMenu()">☰</button> -->

      <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
        <ng-container *ngIf="isMobileMenuOpen; else iconMenu"
          >&#10006;</ng-container
        >
        <ng-template #iconMenu>&#9776;</ng-template>
      </button>

      <div class="mobile-menu" id="mobileMenu">
        <div class="mobile-menu-item" (click)="redirectTo('home')">Home</div>
        <div class="mobile-menu-item" (click)="redirectTo('acercade')">
          Acerca De
        </div>


        <div class="mobile-menu-item" (click)="openSignInModal()">
          sign-in
        </div>

      </div>
    </div>
    <div class="search-container">
      <button class="btnbusa">
        <mat-icon class="material-icons primary">search</mat-icon>
      </button>
      <input
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Buscar..."
      />
    </div>

    <div class="button-container-pc">
      <button class="menu-btn" (click)="redirectTo('home')">HOME</button>
      <button class="menu-btn" (click)="redirectTo('home')">HOME</button>
      <button class="menu-btn" (click)="redirectTo('home')">HOME</button>
      <button [matMenuTriggerFor]="productsMenu" class="menu-btn">ADMIN</button>
      <mat-menu
        style="background-color: transparent"
        class="menuweb"
        #productsMenu="matMenu"
        yPosition="below"
      >
        <div
          mat-menu-item
          class="mobile-menu-item_b1"
        >
          Productos
        </div>
        <div
          mat-menu-item
          class="mobile-menu-item_b1"
          (click)="redirectTo('acercade')"
        >
         acerca de
        </div>
      </mat-menu>
      <button class="menu-btn" (click)="openSignInModal()">
        sign IN
      </button>
    </div>
    <mat-icon
      [matBadge]="badge"
      matBadgeColor="warn"
      class="material-icons primary"
      (click)="goToCart()"
      >shopping_cart</mat-icon
    >
  </div>
</div>
