<div class="admin-header">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" />

  <div class="logo-container">
    <img src="https://static.wixstatic.com/media/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png/v1/fill/w_834,h_221,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png" alt="Logo de Tu Empresa" />
  </div>

  <div class="profile-container">
    <div class="profile-info">
      <img src="assets/admin.png" alt="Foto de Administrador" />
      <!-- <span>juan perez</span> -->
      <span>{{ userName }}</span> <!-- Mostrar el nombre del usuario aquí -->

    </div>
  </div>
</div>
