/* Estilos para el componente Home */
.bienve {

  font-size: 40px;
  font-family: "cursive";
  // font-family: "Brush Script MT";
}
body {
  margin: 0;
  padding: 0;

}

.home-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://static.wixstatic.com/media/64de7c_bd452d768bdf43498f0e94694ddc7040~mv2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-content {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
}

h1.bienve {
  font-size: 2.5rem;
  font-family: "cursive";
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 1.25rem;
  margin: 20px 0;
  color: #fff;
}

.owner {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #fff;
}

.contact-owner {
  background-color: #ff5733;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-owner:hover {
  background-color: #ff3d15;
  transform: scale(1.05);
}

.cursor {
  position: fixed;
  width: 0px;
  height: 0px;
  box-shadow: 0px 9px 30px 8px #c0c369;
  border-radius: 100%;
  pointer-events: none;
  transition: transform 20s ease;
  z-index: 9999;
}

/* Estilos para dispositivos móviles (por ejemplo, pantalla de ancho menor a 600px) */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .contact-owner {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

/* Estilos para dispositivos móviles (por ejemplo, pantalla de ancho menor a 600px) */
@media (max-width: 600px) {
  .home-container {
    padding: 10px;
  }

  .content {
    flex-direction: column; /* Cambia la dirección de flex a columna en dispositivos móviles */
    align-items: center;
    text-align: center;
  }

  .text-content {
    text-align: center; /* Alinea el texto al centro en dispositivos móviles */
  }

  h1 {
    font-size: 6vw;
  }

  p {
    font-size: 3vw;
  }

  .btn-inicio {
    font-size: 4vw;
  }
}

  // .product {
  //   display: inline-block;
  //   width: 30%;
  // }


/* Estilos para el catálogo de productos */
.product {
  display: inline-block;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2vh;
}
// .prod {
//     display: inline-block;
//     width: 30%;
// }

// .product {
//   background-color: #fff;
//   border: 1px solid #ccc;
//   padding: 20px;
//   border-radius: 10px;
//   text-align: center;
//   min-height: 300px; /* Asegura que los productos tengan una altura mínima */
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.product h2 {
  font-size: 2.5vw; /* Ajusta el tamaño de fuente para el título del producto */
  margin: 10px 0;
}

/* Estilos para dispositivos móviles (por ejemplo, pantalla de ancho menor a 600px) */
@media (max-width: 600px) {
  .prod {
    grid-template-columns: 1fr; /* Muestra un producto por fila en la versión móvil */
  }

  .product {
    margin-bottom: 20px; /* Espaciado entre productos en la versión móvil */
  }

  .product h2 {
    font-size: 4vw; /* Ajusta el tamaño de fuente para el título del producto en móvil */
  }

  .btn-inicio {
    font-size: 3vw; /* Ajusta el tamaño de fuente de los botones en la versión móvil */
  }
}







/* Estilos para dispositivos móviles (por ejemplo, pantalla de ancho menor a 600px) */
@media (max-width: 600px) {
  .home-container {
    padding: 10px;
    margin-top: 0; /* Elimina el margen superior para quitar el espacio en blanco */
  }

  .content {
    flex-direction: column; /* Cambia la dirección de flex a columna en dispositivos móviles */
    align-items: center;
    text-align: center;
    // margin-top: 0; /* Elimina el margen superior para quitar el espacio en blanco */

  }

  .text-content {
    text-align: center; /* Alinea el texto al centro en dispositivos móviles */
  }

  h1 {
    font-size: 2rem; /* Ajusta el tamaño de fuente del título en dispositivos móviles */
    line-height: 1.2;
  }

  p {
    font-size: 1rem; /* Ajusta el tamaño de fuente del párrafo en dispositivos móviles */
    margin: 1rem 0;
  }

  .contact-owner {
    font-size: 0.8rem;
    padding: 14px 16px;
  }

  .logo_mobil {
    text-align: center; /* Centra el logo horizontalmente */
  }

  .imgaem {
    max-width: 30%; /* Ajusta el ancho máximo del logo al 80% del contenedor */
    display: block; /* Hace que la imagen sea un bloque para centrarla horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente en su contenedor */
    padding: 0px; /* Agrega un espacio alrededor de la imagen para que se vea agradable */
  }
}

/* Estilos para dispositivos de escritorio (por ejemplo, pantalla de ancho mayor a 600px) */
@media (min-width: 601px) {
  .logo_mobil {
    display: none; /* Oculta el div del logo en dispositivos de escritorio */
  }
}
.no-results-message {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;

  p {
    // font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
  }
}
