/* Estilos para el componente Home */

.bienve {
  font-size: 40px;
  font-family: "cursive";
  // font-family: "Brush Script MT";
}
body {
  margin: 0;
  padding: 0;
}

// .home-container {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   background-size: cover;
//   background-position: center;
//   color: white;
//   text-align: center;

//   // transition: background-image 1.6s cubic-bezier(0.55, 0.085, 0.68, 0.53), filter 1s ease; /* Transición personalizada con desenfoque */

// }
.home-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  transition: background-image 3s cubic-bezier(0.55, 0.085, 0.68, 0.53), filter 1s linear; /* Transición para imagen de fondo y filtro */
}

/* Añadir filtro */
.home-container.filtered {
  filter: blur(10px); /* Ejemplo de filtro, ajusta según sea necesario */
}



.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-content {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
}

h1.bienve {
  font-size: 2.5rem;
  font-family: "cursive";
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 1.25rem;
  margin: 20px 0;
  color: #fff;
}

.owner {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #fff;
}

.contact-owner {
  background-color: #ff5733;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.contact-owner:hover {
  background-color: #ff3d15;
  transform: scale(1.05);
}

.cursor {
  position: fixed;
  width: 0px;
  height: 0px;
  box-shadow: 0px 9px 30px 8px #c0c369;
  border-radius: 100%;
  pointer-events: none;
  transition: transform 20s ease;
  z-index: 9999;
}
