<!--
<div
  class="home-container"
  [ngStyle]="{'background-image': 'url(' + backgroundImages[currentImageIndex] + ')'}"
  [style.filter]="showAnimation ? 'blur(2px)' : 'none'"
> -->
<!-- <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.68/build/spline-viewer.js"></script> -->

<div
  class="home-container"
  [ngStyle]="{'background-image': 'url(' + backgroundImages[currentImageIndex] + ')'}"
  [style.filter]="showAnimation ? 'blur(20px)' : 'none'"
>
  <div class="cursor"></div>

  <div
    class="content"
    [attr.data-aos]="isMobile ? 'zoom-in-up' : 'fade-up'"
    data-aos-duration="1500"
  >
    <div class="logo_mobil">
      <img
        class="imgaem"
        src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
        alt="Pastelería"
      />
    </div>

    <div
      class="text-content"
      [attr.data-aos]="isMobile ? 'zoom-in' : 'fade-left'"
      data-aos-duration="2700"
    >
      <h1 class="bienve">Bienvenidos a Austin’s_</h1>
      <p>
        En Austin's, la tradición europea se encuentra con el encanto local, y
        estamos encantados de compartirlo con ustedes. ¡Bienvenidos a una
        experiencia de sabor única! .
      </p>
    </div>
    <div class="owner">
      <h2>Propiedad de Graham Austin</h2>
      <button class="contact-owner">Contactar al Propietario</button>
    </div>
  </div>
</div>

<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
  <h1
    style="
      color: rgb(255, 140, 25);
      font-size: 32px;
      text-align: center;
      margin-bottom: 20px;
    "
  >
    Categorías
  </h1>
</div>
<div class="catalogo1" [style.filter]="showAnimation2 ? 'blur(20px)' : 'none'">
  <!-- <spline-viewer url="https://prod.spline.design/zz1q8AV3IcL3iyzY/scene.splinecode"></spline-viewer> -->
  <div *ngIf="loadingProducts">
    <!-- <div *ngIf="hasSearchResults; else noResults"> -->
    <div >
      <div class="card">
        <!-- <p-carousel
          [value]="filteredProducts"
          [numVisible]="4"
          [numScroll]="4"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
          [autoplayInterval]="autoplayInterval"
        > -->
        <p-carousel  [numVisible]="4" [numScroll]="4">
          <ng-template>
            <div class="card">
              <div
                class="border-round border-1 surface-border p-4 surface-card img"
              >
                <p-skeleton width="100%" height="200px"></p-skeleton>
                <div class="mb-3">
                  <!-- <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton> -->
                  <div>
                    <!-- <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton> -->
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>

                    <!-- <p-skeleton height=".5rem"></p-skeleton> -->
                  </div>
                </div>
                <div class="flex justify-content-between mt-3">
                  <!-- <p-skeleton width="4rem" height="2rem"></p-skeleton> -->
                  <!-- <p-skeleton width="4rem" height="2rem"></p-skeleton> -->
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
  <app-catalogo-vista2 *ngIf="!loadingProducts"></app-catalogo-vista2>
</div>

<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
  <h1
    style="
      color: rgb(255, 140, 25);
      font-size: 32px;
      text-align: center;
      margin-bottom: 20px;
    "
  >
    Lo más reciente
  </h1>
</div>
<!-- <div *ngIf="loadingProducts"> -->
<div>
  <!-- <div *ngIf="hasSearchResults; else noResults"> -->
  <div>
    <div class="card">
      <p-carousel
        *ngIf="loadingProducts"

        [numVisible]="4"
        [numScroll]="4"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="autoplayInterval"
      >
        <!-- <ng-template let-product pTemplate="item"> -->
        <ng-template >
          <div class="card">
            <div
              class="border-round border-1 surface-border p-4 surface-card img2"
            >
              <p-skeleton width="100%" height="200px"></p-skeleton>
              <div class="mb-3">
                <!-- <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton> -->
                <div>
                  <!-- <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton> -->
                  <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>

                  <p-skeleton height=".5rem"></p-skeleton>
                </div>
              </div>
              <div class="flex justify-content-between mt-3">
                <!-- <p-skeleton width="4rem" height="2rem"></p-skeleton> -->
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<!-- Condición para mostrar los productos una vez que se han cargado -->

<!-- Mostrar productos una vez que se han cargado -->
<!-- <div *ngIf="!loadingProducts"> -->
<div *ngIf="!loadingProducts">
  <div *ngIf="hasSearchResults; else noResults">
    <div class="card">
      <p-carousel
        [value]="filteredProducts"
        [numVisible]="4"
        [numScroll]="4"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="autoplayInterval"
      >
        <ng-template let-product pTemplate="item">
          <div class="prod">
            <app-product [product]="product"></app-product>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<!-- HTML -->
<ng-template #noResults>
  <div class="no-results-container">
    <h3 class="no-results-heading">No se encontraron resultados</h3>
    <p class="no-results-message">
      Lo sentimos, no hay resultados disponibles para tu búsqueda.
    </p>
    <!-- <img src="assets/no-results-image.png" alt="No Results" class="no-results-image" /> -->
  </div>
</ng-template>
