<div class="home-container">
  <div class="cursor"></div>
  <div class="content">
    <h1 class="bienve">Bienvenidos a Austin’s_</h1>
    <p>
      En Austin's, la tradición europea se encuentra con el encanto local, y
      estamos encantados de compartirlo con ustedes. ¡Bienvenidos a una
      experiencia de sabor única! .
    </p>
  </div>

  <div class="cont2">
    <button class="btn-inicio">contacto</button>
  </div>
</div>
<ng-container class="prod" >
  <div class="product">
    <app-product ></app-product>
  </div>
</ng-container>
