<div class="home-container">
  <div class="cursor"></div>
  <div class="content">
    <div class="logo_mobil">
      <img class="imgaem" src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png" alt="Pastelería" />
    </div>


    <div class="text-content">
      <h1 class="bienve">Bienvenidos a Austin’s_</h1>
      <p>
        En Austin's, la tradición europea se encuentra con el encanto local, y
        estamos encantados de compartirlo con ustedes. ¡Bienvenidos a una
        experiencia de sabor única! .
      </p>
    </div>
    <div class="owner">
      <h2>Propiedad de Graham Austin</h2>
      <button class="contact-owner">Contactar al Propietario</button>
    </div>

  </div>

</div>

<ng-container class="prod" >
  <div class="product">
    <app-product ></app-product>
  </div>
</ng-container>

