:host {
  display: flex;
  justify-content: center;
  * {
    // outline: 1px solid red;
  }

  .content {
    display: flex;
    justify-content: center;
  }
  .main-img img {
    width: 350px;
    height: 400px;
  }

  /* Efecto de lupa */
  .image-zoom-container {
    position: relative;
    overflow: hidden;
    background-color: aqua;
    width: 350px; /* Tamaño de la imagen principal */
    height: 400px;
  }

  .image-zoom-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
  }

  .image-zoom-box {
    position: absolute;
    width: 100px; /* Tamaño de la lupa */
    height: 100px;
    border: 2px solid #333; /* Borde de la lupa */
    background: rgba(148, 36, 36, 0.6); /* Fondo de la lupa */
    pointer-events: none; /* No bloquea eventos del ratón */
    display: none; /* Inicialmente oculto */
  }



  .slider-wrapper {
    max-height: 400px;
    width: 16%;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    margin-right: 5%;

    .up, .down {
      cursor: pointer;
      width: 40px;
      height: 30px;
    }
  }
  .slider {
    flex-wrap: nowrap;
    overflow-y: hidden;
    height: 300px;
    text-align: center;
  }
  .slider img {
    width: 70px;
    height: 90px;
  }
}
