<div class="content">
  <div class="slider-wrapper">
    <img
      src="assets/icons/up-arrow-svgrepo-com.svg"
      alt=""
      class="up"
      (click)="up()"
    />

    <div #slider class="slider">
      <ng-container *ngFor="let item of images; let i = index">
        <img [src]="item" alt="" (click)="toogleImg(item, i)" />
      </ng-container>
    </div>
    <img
      src="assets/icons/down-arrow-svgrepo-com.svg"
      #imgDown
      alt=""
      class="down"
      (click)="down()"
    />
  </div>
  <div class="main-img">
    <div class="image-zoom-container">
      <img [src]="srcMain" alt="" (mouseenter)="startZoom()" (mouseleave)="stopZoom()" (mousemove)="moveZoom($event)" />
      <!-- <div class="image-zoom-box"></div> -->
      <div class="image-zoom-box" #zoomBox></div>

    </div>
  </div>
</div>
