/* floating-button.component.css */

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 290px;
  right: 20px;
  background-color: #ff5733; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 50%; /* Bordes redondeados para crear la apariencia de burbuja */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sutil sombra */
  animation: fadeInAndMove 0.5s ease-out; /* Animación de fade-in y movimiento */
  transition: background-color 0.3s ease, transform 0.3s ease, width 0.5s ease, height 0.5s ease;

}

@media only screen and (max-width: 600px) {
  .floating-button {
    bottom: 465px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}

.floating-button:hover {
  background-color: #ea8169; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

@keyframes fadeInAndMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
