.privacy-policy-container {

  position: fixed;
  bottom: 15px; /* Ajusta según sea necesario */
  right: 240px; /* Ajusta según sea necesario */
  padding: 10px 15px ; /* Espaciado interno */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  backdrop-filter: blur(23px);
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: space-between;




}

.privacy-content {
  flex-grow: 1;
  padding-right: 0px;
}
.privacy-button{
  // text-decoration: underline;
}
.privacy-button:hover{
  text-decoration: underline;
}
.close-button{
  font-style: normal;
  font-weight: 900;
}
.privacy-button, .close-button {
  background-color: #007bff00;
  border: none;
  color: #ffd500; /* Color del texto */
  border-radius: 2px;
  padding: 10px 30px;
  font-weight: lighter;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .privacy-policy-container {
    bottom: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    padding: 5px; /* Espaciado interno */
  }

  .privacy-button, .close-button {
    padding: 8px 16px;
    font-weight: normal; /* Menos peso en la fuente para reducir el tamaño total */
  }
}
.icon1{
  margin: 0%;
  margin-bottom: -2%;
}


