<div class="container">
  <h1>Información del Proyecto</h1>
  <p class="student-info">Nombre de los alumnos:</p>
  <p>RIGOBERTO DIAZ HERNANDEZ MATRICULA: 20211036</p>
  <p>YAHIR HERNANDEZ HERNANDEZ MATRICULA: 20211035</p>

  <p class="student-info">Grado:</p>
  <p>7º</p>

  <p class="student-info">Grupo:</p>
  <p>"A"</p>

  <p class="student-info">Carrera:</p>
  <p>INGENIERÍA EN DESARROLLO Y GESTIÓN DE SOFTWARE</p>

  <p class="project-info">Proyecto:</p>
  <p>Desarrollo de un Sistema de Cotización y Gestión para la Pastelería Austin's.</p>
  <p class="project-info">EMPRESA:</p>
  <p>Reposteria y Pastelería Austin's.</p>
</div>
