<div class="container">
  <div class="header">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbv6MAjATprVREOPLX9o0sP6jzsk51ygAPSIMQBaXn&s" alt="Logo de la Pastelería Austin's" class="logo">
    <h1 class="ti">Información del Proyecto</h1>
    <img src="http://www.uthh.edu.mx/imagenes/carreras/Logos_Carreras/2015061214431910_gal.png" alt="logo 2" class="logo2">
  </div>

  <div class="info-container">
    <div class="student-info">
      <h2><i class="fas fa-user"></i> Alumnos</h2>
      <ul>
        <li>
          RIGOBERTO DÍAZ HERNÁNDEZ
          <span class="matricula">MATRÍCULA: 20211036</span>
        </li>
        <li>
          YAHIR HERNÁNDEZ HERNÁNDEZ
          <span class="matricula">MATRÍCULA: 20211035</span>
        </li>
      </ul>
    </div>

    <div class="grado-info">
      <h2><i class="fas fa-graduation-cap"></i> Grado y Grupo</h2>
      <p>7º</p>
      <p>Grupo "A"</p>
    </div>

    <div class="carrera-info">
      <h2><i class="fas fa-book"></i> Carrera</h2>
      <p>Tecnologías de la Información</p>
    </div>

    <div class="project-info">
      <h2><i class="fas fa-project-diagram"></i> Proyecto</h2>
      <p>Desarrollo de un Sistema de Cotización y Gestión para la Pastelería Austin's.</p>
    </div>
  </div>
</div>
