<div class="container">
  <div class="card">
    <p-table [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>_____</th>
          <th>P</th>
          <th>t</th>
          <!-- <th>Quantity</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <!-- <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
        </tr> -->
        <!-- Valores estáticos agregados -->
        <tr>
          <td>S001</td>
          <td>Chocolate Cake</td>
          <td>Cakes</td>
          <td>10</td>
        </tr>

        <!-- Puedes agregar más filas estáticas según sea necesario -->
      </ng-template>
    </p-table>
    <div class="card">
      <p class="m-0"></p>
      <table>
        <!-- <tr>
          <td><span class="text-danger">C1</span></td>
          <td>= 0</td>
          <td style="width: 90px;"></td>
          <td><span class="text-danger">P</span></td>
          <td>= 0</td>
          <td style="width: 90px;"></td>
          <td><span class="text-danger">t</span></td>
          <td>= 0</td>
        </tr> -->
        <tr>
          <td><span class="text-danger">C1</span></td>
          <td style="width: 90px;"></td>
          <td></td>
          <td><span class="text-danger">P={{can}}</span></td>
          <td style="width: 90px;"></td>
          <td></td>
          <td><span class="text-danger">t={{ selectedStartDate | date: 'medium' }}</span></td>
          <td></td>
        </tr>
        <tr>
          <td><span class="text-danger">p1</span></td>
          <td style="width: 90px;"></td>
          <td></td>
          <td><span class="text-danger">P={{ predictedSales }}</span></td>
          <td style="width: 90px;"></td>
          <td></td>
          <td><span class="text-danger">t={{ selectedFutureDate | date: 'medium' }}</span></td>
          <td></td>
        </tr>
      </table>
    
      <p-divider align="center" type="dotted">
        <b>{{ selectedCategory?.categoria }}</b>
      </p-divider>
    </div>
    
    <!-- <div class="card">
      <p class="m-0"></p>
    
      <p class="m-0">
        <span class="text-danger" style="margin-right: 90px;">C1 = 0</span>
        <span class="text-danger" style="margin-right: 90px;">P = 0</span>
        <span class="text-danger">t = 0</span>
      </p>
    
      <p class="m-0">
        <span class="text-danger" style="margin-right: 90px;">K</span>
        <span class="text-danger" style="margin-right: 90px;"> P={{c}}</span>
        <span class="text-danger">t={{ selectedStartDate | date: 'medium' }}</span>
      </p>
      <p class="m-0">
        <span class="text-danger" style="margin-right: 90px;">p1</span>
        <span class="text-danger" style="margin-right: 90px;"> P={{ predictedSales }}</span>
        <span class="text-danger">t={{ selectedFutureDate | date: 'medium' }}</span>
      </p>
    
      <p-divider align="center" type="dotted">
        <b>{{ selectedCategory?.categoria }}</b>
      </p-divider>
    </div> -->
    
    
  </div>

  <div class="chart-container">
    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>

  <div class="category-selector">
    <label for="category">Selecciona una categoría:</label>
    <div class="icon-category-selector">
      <p-dropdown
        id="category"
        [options]="ventas"
        [(ngModel)]="selectedCategory"
        optionLabel="categoria"
        placeholder="Selecciona una categoría"
        (ngModelChange)="selectCategory($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          {{ item.categoria }}
        </ng-template>
      </p-dropdown>
    </div>
  </div>

  <div class="date-selector">
    <label for="start-date">Selecciona la fecha inicial:</label>
    <p-calendar
      id="start-date"
      [(ngModel)]="selectedStartDate"
      dateFormat="yy-mm-dd"
      (ngModelChange)="selectStartDate($event)"
    ></p-calendar>
  </div>

  <div class="date-selector">
    <label for="future-date">Selecciona la fecha futura:</label>
    <p-calendar
      id="future-date"
      [(ngModel)]="selectedFutureDate"
      dateFormat="yy-mm-dd"
      (ngModelChange)="selectFutureDate($event)"
    ></p-calendar>
  </div>

  <div *ngIf="predictedSales !== null" class="prediction-result">
    <p>
      el valor de k=     {{ k }}. <br>
      Se estima que las ventas futuras para la categoría
      <strong>{{ selectedCategory?.categoria }}</strong> hasta la fecha {{
      selectedFutureDate | date: 'yyyy-MM-dd' }} serán de
      <strong>{{ predictedSales }}</strong> unidades.se necesita 
      <strong>{{ diasHastaFechaFutura }}</strong> dias  para alcanzar {{predictedSales}} cantidad de ventas.
    </p>
  </div>

  <!-- <div class="chart-container">
    <p-splitter [panelSizes]="[75, 25]" [style]="{ height: '300px' }" styleClass="mb-5">
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">  <div>
            <p>Value of p: {{ p }}</p>
            <p>Value of c: {{ c }}</p>
            <p>Value of k: {{ k }}</p>
          </div></div>
      </ng-template>
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
          
            
          </div>
      </ng-template>
  </p-splitter> -->

  <!-- <p-chart
      type="line"
      [data]="chartDataFuturas"
      [options]="chartOptionsFuturas"
    ></p-chart> -->
  <!-- </div> -->
</div>
