<div class="container">
  <div class="card">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
        <!-- Valores estáticos agregados -->
        <tr>
          <td>S001</td>
          <td>Chocolate Cake</td>
          <td>Cakes</td>
          <td>10</td>
        </tr>
        <tr>
          <td>S002</td>
          <td>Blueberry Muffins</td>
          <td>Muffins</td>
          <td>15</td>
        </tr>
        <!-- Puedes agregar más filas estáticas según sea necesario -->
      </ng-template>
    </p-table>
  </div>

  <div class="chart-container">
    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>

  <div class="category-selector">
    <label for="category">Selecciona una categoría:</label>
    <div class="icon-category-selector">
      <p-dropdown
        id="category"
        [options]="ventas"
        [(ngModel)]="selectedCategory"
        optionLabel="categoria"
        placeholder="Selecciona una categoría"
        (ngModelChange)="selectCategory($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          {{ item.categoria }}
        </ng-template>
      </p-dropdown>
    </div>
  </div>

  <div class="date-selector">
    <label for="start-date">Selecciona la fecha inicial:</label>
    <p-calendar
      id="start-date"
      [(ngModel)]="selectedStartDate"
      dateFormat="yy-mm-dd"
      (ngModelChange)="selectStartDate($event)"
    ></p-calendar>
  </div>

  <div class="date-selector">
    <label for="future-date">Selecciona la fecha futura:</label>
    <p-calendar
      id="future-date"
      [(ngModel)]="selectedFutureDate"
      dateFormat="yy-mm-dd"
      (ngModelChange)="selectFutureDate($event)"
    ></p-calendar>
  </div>

  <div *ngIf="predictedSales !== null" class="prediction-result">
    <p>
      Se estima que las ventas futuras para la categoría
      <strong>{{ selectedCategory?.categoria }}</strong> hasta la fecha {{
      selectedFutureDate | date: 'yyyy-MM-dd' }} serán de
      <strong>{{ predictedSales }}</strong> unidades.
    </p>
  </div>

  <!-- <div class="chart-container">
    <p-splitter [panelSizes]="[75, 25]" [style]="{ height: '300px' }" styleClass="mb-5">
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">  <div>
            <p>Value of p: {{ p }}</p>
            <p>Value of c: {{ c }}</p>
            <p>Value of k: {{ k }}</p>
          </div></div>
      </ng-template>
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
          
            
          </div>
      </ng-template>
  </p-splitter> -->

  <!-- <p-chart
      type="line"
      [data]="chartDataFuturas"
      [options]="chartOptionsFuturas"
    ></p-chart> -->
  <!-- </div> -->
</div>
