
<h1>{{productDetail?.name}}</h1>
<p><span>Precio: {{productDetail?.price | currency:'' }} </span></p>
<p class="description">
  <strong>Descripción:</strong>  <br>
  {{productDetail?.description}}
</p>
<p>
  <span class="quantity">{{productDetail?.quantity ? 'Hay existencias' : 'Agotado'}}</span>
</p>

<form [formGroup]="formGroup">
  <mat-form-field class="example-full-width">
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" formControlName="quantity">
  </mat-form-field>
    <div class="cont-btn">
      <button class="grow"  color="primary" >Añadir al carrito</button>
    </div>
</form>

