:host {
  display: block;
  padding: 10px;

  * {
    // outline: 1px solid red;
  }

  h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: #a54c2c;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 40px;

    span {
      font-size: 2.5rem;
    }
  }
  p.description {
    height: 150px;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }

  p span.quantity {
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #a54c2c;
  }
  form{
    display: flex;

  }
  mat-label {
    font-size: 1.2rem;
    color: #000000;
  }
  mat-form-field {
    padding-right: 3rem;
  }
  input {
    height: 40px;
    font-size: 2rem;
  }
  .cont-btn
  {
    justify-content: center;
    gap: 10rem;

  }
  .grow {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 26px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .grow:hover {
    border-color: #a54c2c;
    color: #a54c2c;

    transition: 0.5s;
    background-color: #fdfdfd17 !important;
    border: 2px;
    border-style: dotted;
    box-shadow: 4px 0px 30px 0px rgba(0, 0, 0, 0.2);
    transform: scale3d(1.1, 1.1, 0.1);
  }
  /* Aplicar cambios de estilo cuando el ancho de pantalla sea menor o igual a 768px (modo móvil) */
@media screen and (max-width: 768px) {
  .grow {

    padding: 20px 50px;
    font-size: 14px; /* Cambia el tamaño del texto del botón en modo móvil */
  }
  
}

}
