// Estilos para el contenedor principal
.content {
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .price {
    font-size: 18px;
    color: #ffa85c;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 20px;

    strong {
      font-weight: bold;
    }
  }

  .availability {
    font-size: 16px;

    .quantity {
      font-weight: bold;
    }
  }

  .product-details {
    margin-top: 30px;

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;

      strong {
        font-weight: bold;
      }
    }

    ul {
      margin-top: 10px;

      li {
        font-size: 16px;
      }
    }
  }
  p-inputnumber {
    // width: auto !important;

    justify-content: center ;
    width: 30%;
    margin-bottom:  30px;
    margin-right:  5px;
    margin-left:  5px;
    // margin: 10%;
    // right:  5px;
  }
  .input-button-container {
    display: flex;
    margin-right:5px ;
    align-items: center; // Alinea los elementos verticalmente
    .font-bold{
      text-align:  center;
      font-weight: bold;

      margin-bottom:  8px;


    }
    .btn {
      height:  45px ; /* Altura fija del botón */
      padding: 0.7rem  ; /* Relleno lateral y superior */

      background-color: #ff9d00;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      // min-width: 100px; // Ancho mínimo para el botón
    }
  }
}
