<div class="not-fond-container">
  <div class="cursor"></div>
  <div class="content">
    <div class="error-numbers">
      <span class="error-number">5</span>
      <span class="error-number">0</span>
      <span class="error-number">0</span>
    </div>
    <div class="text-content">
      <p>
        error del servidor
      </p>
    </div>
    <div class="owner">
      <h2>¿Necesitas ayuda?</h2>
      <button class="contact-owner" (click)="redirectTo('home')">Volver</button>
    </div>
  </div>
</div>
