footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-logo {
    img {
      max-width: 250px;
      height: auto;
    }
  }

  .footer-links,
  .footer-social {
    display: flex;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      margin-right: 20px;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        color: rgb(23, 31, 151);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer-social {
    a.social-icon {
      font-size: 24px;
      img {
        max-width: 30px;
        height: auto;
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .contact-info,
  .quick-links {
    flex: 1;
    margin: 0 20px;
  }

  .contact-info h3,
  .quick-links h3 {
    color: #fff;
    font-size: 18px;
  }

  .contact-info ul,
  .quick-links ul {
    list-style: disc; /* Utiliza viñetas para las listas */
    padding-left: 20px; /* Añade un espacio a la izquierda de las viñetas */
  }

  .contact-info ul li,
  .quick-links ul li {
    margin: 8px 0;
    font-size: 16px;
  }

  .quick-links a {
    display: block;
    margin: 8px 0;
    font-size: 16px;
  }

  .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;

  }
}

a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;

  &:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;

    .footer-links,
    .footer-social,
    .footer-content {
      justify-content: center;
      margin-top: 10px;
    }
  }
}
