
<footer *ngIf="shouldShowFooter" >
  <div class="footer-container" >
    <div class="footer-logo">
      <img src="https://static.wixstatic.com/media/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png/v1/fill/w_834,h_221,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/64de7c_29f387abde884a1e8f9df17220933df6~mv2.png"
           alt="Logo de Tu Empresa" alt="Logo de MyCompany">
    </div>
    <div class="footer-links">
      <a href="#">Inicio</a>
      <a href="#">Productos</a>
      <a href="#">Contacto</a>
    </div>
    <div class="footer-social">
      <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="copyright">
    <span>&copy; {{ anio }} MyCompany. Todos los derechos reservados.v3</span>
    <!-- Reemplaza esto por el componente de política de privacidad -->
    <app-politica></app-politica>
  </div>
</footer>

