.form-container {
  max-width: 800px; /* Ajusta según tu necesidad */
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 48%; /* Ajusta para que dos campos entren en una fila */
}

.form-field.full-width {
  width: 100%;
}
input[type="text"],
input[type="time"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

label {
  font-weight: bold;
}
b,
.p-divide,
.lab {
  color: #ffa500; /* Color del texto */
  // font-weight: bold;
}

.bel{
  font-size: 0.9rem;
  // color: #ffa500;
}



.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-field-four {
  flex: 0 0 calc(20% - 5px); /* 25% - margen entre elementos */
  margin-bottom: 10px; /* Espacio entre filas */
}

/* Ajusta el tamaño de los íconos */
.pi {
  font-size: 1.5rem;
}

.btn {
  padding: 0.5rem; /* Reducir el padding */
  text-align: center;
  font-size: 0.9rem; /* Reducir el tamaño del texto */
  font-weight: bold; /* Negrita */
}
.btn-finish,
.btn-continue-shopping {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  width: auto;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-finish {
  width: 100%;
  background-color: #ff6112;
  color: #ffffff;
  border-radius: 4px;
}