.p-password {
  width: 100%;
}
.p-calendar {

  width: 100%;
}
.p-dropdown {
  border-radius: 8px;
  width: 100%;
}
.mat-erro{
  color: red;

}

.form-group .email-input .p-input-icon-right {

}

.custom-timer {
  /* Agrega estilos específicos para el temporizador */
  font-size: 20px;
  color: #ff9112;
  /* Agrega más estilos según sea necesario */
}
