<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<!-- <p-toast [life]="10000"></p-toast> -->
<!-- <p-toast ></p-toast> -->
<p-toast position="top-center"></p-toast>
<div
  class="log"
  data-aos="fade-right"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500"
>
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Solicitud de Recuperación de Contraseña</h1>

  <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>

  <div *ngIf="showTimer" class="card flex justify-content-center">
    <p-knob
      [(ngModel)]="timeRemainingSeconds"
      [min]="0"
      [max]="300"
      [step]="1"
      [strokeWidth]="5"
    >
    </p-knob>
    segundos
  </div>

  <p *ngIf="showTimer">Tiempo restante: {{ formatTimeLeft() }}</p>
</div>

<div class="signup-container">
  <mat-tab-group
    type="hidden"
    [selectedIndex]="activeIndex"
    (selectedIndexChange)="activeIndex = $event"
  >
    <mat-tab label="Paso 1" [disabled]="step1Disabled">
      <form (ngSubmit)="onSubmitStep1()" [formGroup]="group">
        <!-- Datos Personales -->
        <div class="form-group" *ngIf="activeIndex === 0">
          <div class="card flex email-input">
            <span class="p-float-label">
              <input
                pInputText
                type="email"
                formControlName="email"
                placeholder="EJ:juanPerez@gmail.com"
              />

              <label>Email</label>
              <span class="p-input-icon-right">
                <!-- <mat-icon>email</mat-icon> -->
                <i class="pi pi-envelope"></i>
              </span>
            </span>
            <mat-error *ngIf="emailFormControl.hasError('required')"
              >Email es <strong>requerido</strong></mat-error
            >
          </div>
          <div
            class="button-container"
            data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="200"
          >
            <button class="next-button" [disabled]="isSubmitting">
              Solicitar Recuperación
            </button>
          </div>

          <!-- <p style="text-align: center;" class="login-link">¿otro metodo? <a  (click)="showQuestion()">por pregunta secreta?</a></p> -->
          <p style="text-align: center" class="login-link">
            ¿otro metodo? <a  (click)="navigateTo('auth/Recupera-pregunta')">por pregunta secreta?</a>
          </p>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Paso 2" [disabled]="step2Disabled">
      <form (ngSubmit)="onSubmitStep2()" [formGroup]="group2">
        <!-- Datos Personales -->
        <div class="form-group" *ngIf="activeIndex === 1">
          <div class="card flex inputcode" >
            <!-- <p-inputOtp [integerOnly]="true" formControlName="verificationCode" class="custom-input"></p-inputOtp> -->
            <label>Código de Verificación</label>
          </div>
          <div class="card flex inputcode">
            <p-inputOtp
              [integerOnly]="true"
              formControlName="verificationCode"
              class="custom-input"
            ></p-inputOtp>
          </div>

          <!-- <div class="card flex"> -->
          <!-- <span class="p-float-label"> -->
          <!-- <input
                type="text"
                pInputText
                id="verificationCode"
                formControlName="verificationCode"
              /> -->
          <!-- <p-inputOtp  [integerOnly]="true" formControlName="verificationCode"></p-inputOtp> -->

          <!-- </span> -->
          <mat-error *ngIf="verificationCodeFormControl.hasError('required')"
            >Código de Verificación es <strong>requerido</strong></mat-error
          >
          <!-- </div> -->
          <div class="button-container">
            <button class="next-button" [disabled]="isSubmitting">
              Verificar código
            </button>
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Paso 3" [disabled]="step3Disabled">
      <form (ngSubmit)="onSubmitStep3()" [formGroup]="group3">
        <!-- Datos Personales -->
        <div class="form-group" *ngIf="activeIndex === 2">
          <div class="card flex password-input">
            <span class="p-float-label">
              <p-password
                formControlName="newPassword"
                placeholder="Ingrese su nueva contraseña"
                promptLabel="Elige una contraseña"
                weakLabel="Demasiado simple"
                mediumLabel="Complejidad promedio"
                strongLabel="Contraseña compleja"
                [toggleMask]="true"
                class="custom-password-input"
              ></p-password>

              <label>Contraseña</label>
              <span class="p-input-icon-right"> </span>
            </span>
            <mat-error *ngIf="newPasswordFormControl.hasError('required')"
              >Contraseña es <strong>requerida</strong></mat-error
            >
            <mat-error
              *ngIf="newPasswordFormControl.hasError('formatError')"
              >{{ newPasswordFormControl.errors?.['formatError'] }}</mat-error
            >
          </div>
          <!-- <mat-form-field class="animated">
            <input
              matInput
              type="password"
              placeholder="********"
              formControlName="confirmPassword"
              (input)="onConfirmPasswordInput($event)"
            />
            <label>Confirmar Contraseña</label>
            <mat-error
              *ngIf="confirmPasswordFormControl.hasError('passwordMatch')"
              >Las contraseñas no coinciden</mat-error
            >
            <mat-error
              *ngIf="confirmPasswordFormControl.hasError('formatError')"
              >{{ confirmPasswordFormControl.errors?.['formatError'] }}</mat-error
            >
            <mat-error *ngIf="confirmPasswordFormControl.hasError('required')"
              >Confirmar Contraseña es <strong>requerida</strong></mat-error
            >
          </mat-form-field> -->
          <div class="card flex password-input">
            <span class="p-float-label">
              <!-- <p-password pInputText [toggleMask]="true"></p-password> -->

              <!-- <input
                pInputText
                type="password"
                placeholder="********"
                formControlName="confirmPassword"
                (input)="onConfirmPasswordInput($event)"
                [type]="passwordFieldType2"
              /> -->
              <p-password
                formControlName="confirmPassword"
                placeholder="********"
                promptLabel="Elige una contraseña"
                weakLabel="Demasiado simple"
                mediumLabel="Complejidad promedio"
                strongLabel="Contraseña compleja"
                [toggleMask]="true"
                (input)="onConfirmPasswordInput($event)"
              ></p-password>

              <label>Contraseña</label>
              <span class="p-input-icon-right"> </span>
              <!-- <button
                mat-icon-button
                type="button"
                (click)="togglePasswordVisibility2()"
                [attr.aria-label]="
                  passwordVisible2 ? 'Ocultar contraseña' : 'Mostrar contraseña'
                "
              >
                <i
                  class="pi"
                  [ngClass]="{
                    'pi-eye': !passwordVisible2,
                    'pi-eye-slash': passwordVisible2
                  }"
                ></i>
              </button> -->
            </span>
            <mat-error
              *ngIf="confirmPasswordFormControl.hasError('passwordMatch')"
              >Las contraseñas no coinciden</mat-error
            >
            <mat-error
              *ngIf="confirmPasswordFormControl.hasError('formatError')"
              >{{ confirmPasswordFormControl.errors?.['formatError'] }}</mat-error
            >
            <mat-error *ngIf="confirmPasswordFormControl.hasError('required')"
              >Confirmar Contraseña es <strong>requerida</strong></mat-error
            >
          </div>
          <div class="button-container">
            <button class="next-button" [disabled]="isSubmitting">
              Restablecer Contraseña
            </button>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
