<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<p-toast [life]="10000"></p-toast>

<div
  class="log"
  data-aos="fade-right"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500"
>
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Solicitud de Recuperación de Contraseña</h1>

  <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>
</div>

<div class="signup-container">
  <mat-tab-group
    type="hidden"
    [selectedIndex]="activeIndex"
    (selectedIndexChange)="activeIndex = $event"
  >
    <mat-tab label="Paso 1" [disabled]="step1Disabled">
      <form (ngSubmit)="onSubmitStep1()" [formGroup]="group">
        <!-- Datos Personales -->
        <div class="form-group" *ngIf="activeIndex === 0">
          <mat-form-field class="animated email-input">
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="Ejemplo: juanPerez@gmail.com"
            />
            <label>Email</label>
            <mat-icon>email</mat-icon>
            <mat-error *ngIf="emailFormControl.hasError('required')"
              >Email es <strong>requerido</strong></mat-error
            >
          </mat-form-field>
          <div
            class="button-container"
            data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="200"
          >
            <button class="next-button" [disabled]="isSubmitting">
              Solicitar Recuperación
            </button>
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Paso 2" [disabled]="step2Disabled">
      <form (ngSubmit)="onSubmitStep2()" [formGroup]="group2">
        <!-- Datos Personales -->
        <div class="form-group" *ngIf="activeIndex === 1">
          <mat-form-field class="animated email-input">
            <input
              type="text"
              matInput
              formControlName="verificationCode"
              placeholder="Código de verificación"
            />
            <label>Código de Verificación</label>
            <mat-icon>security</mat-icon>
          </mat-form-field>
          <div class="button-container">
            <button class="next-button" [disabled]="isSubmitting">
              Verificar código
            </button>
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Paso 3" [disabled]="step3Disabled">
      <form (ngSubmit)="onSubmitStep3()" [formGroup]="group3">
        <!-- Datos Personales -->
        <div class="form-group" *ngIf="activeIndex === 2">
          <mat-form-field class="animated password-input">
            <input
              matInput
              [type]="passwordFieldType"
              formControlName="newPassword"
              placeholder="Ingrese su nueva contraseña"
            />
            <label>Nueva Contraseña</label>
            <button
              mat-icon-button
              type="button"
              (click)="togglePasswordVisibility()"
              [attr.aria-label]="
                passwordVisible ? 'Ocultar contraseña' : 'Mostrar contraseña'
              "
            >
              <mat-icon>{{
                passwordVisible ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordFormControl.hasError('required')"
              >Contraseña es <strong>requerida</strong></mat-error
            >
            <mat-error
              *ngIf="newPasswordFormControl.hasError('formatError')"
              >{{ newPasswordFormControl.errors?.['formatError'] }}</mat-error
            >
          </mat-form-field>
          <mat-form-field class="animated">
            <input
              matInput
              type="password"
              placeholder="********"
              formControlName="confirmPassword"
              (input)="onConfirmPasswordInput($event)"
            />
            <label>Confirmar Contraseña</label>
            <mat-error
              *ngIf="confirmPasswordFormControl.hasError('passwordMatch')"
              >Las contraseñas no coinciden</mat-error
            >
            <mat-error
              *ngIf="confirmPasswordFormControl.hasError('formatError')"
              >{{ confirmPasswordFormControl.errors?.['formatError'] }}</mat-error
            >
            <mat-error *ngIf="confirmPasswordFormControl.hasError('required')"
              >Confirmar Contraseña es <strong>requerida</strong></mat-error
            >
          </mat-form-field>
          <div class="button-container">
            <button class="next-button" [disabled]="isSubmitting">
              Restablecer Contraseña
            </button>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
