<div class="breadcrumbs">
  <span
    ><a href="#"> <mat-icon>home</mat-icon></a></span
  >
  <span>&gt;</span>
  <span><a href="#">Inicio</a></span>
  <span>&gt;</span>
  <span>sign-up</span>
</div>

<div class="log">
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Crear Cuenta</h1>
  <!-- Enlace para iniciar sesión -->
  <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>
</div>

<div class="signup-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="group">
    <!-- Datos Personales -->
    <div class="form-group" >
      <mat-form-field class="animated">
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="EJ:juanPerez@gmail.com"
        />
        <label>Email</label>
        <mat-icon>email</mat-icon>
        <mat-error *ngIf="emailFormControl.hasError('required')"
          >Email es <strong>requerido</strong></mat-error
        >
      </mat-form-field>

      <div class="button-container">
        <!-- <button class="next-button" (click)="onSubmit()" [disabled]="|| isSubmitting">
          Registrarse
        </button> -->

        <!-- <button class="next-button" (click)="onSubmit()" [disabled]="!this.group.valid || isSubmitting">
          Registrarse
        </button> -->
      </div>
    </div>
  </form>
</div>
