/* Estilos base sin Media Queries */
/* styles.scss */

// @import '~@angular/material/icon/typings/icon-registry';


.breadcrumbs {

  position: absolute;
  background-color: #33333300;
  color: #000000;
  padding: 10px;
  font-size: 16px;
}

.breadcrumbs span {
  margin-right: 5px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}
/* styles.scss */

.breadcrumbs {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;

  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
  }

  a:hover {
    text-decoration: underline;
    color: #ffd700;
  }

  mat-icon {
    margin-right: 5px;
  }

  // Animación para las migas de pan
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation: fadeIn 0.5s ease;
}

// -------------------------------------------
.log {
  text-align: center;
  margin-top: 2%;
}

.logo {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}

p {
  font-size: 14px;
  color: #333;
  margin: 10px 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #a54c2c;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.signup-container {
  margin-top: 2%;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2%;
  max-width: 500px;
  margin: 0 auto;
  height: 500px;
}

.signup-container img {
  max-width: 20%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  border-radius: 30%;
  width: 100%;
  margin: 0px 0; /* Ajuste del margen */
}

.next-button,
.prev-button {
  display: inline-block;
  padding: 12px 15px; /* Ajuste del padding */
  background-color: #a54c2c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; /* Ajuste del tamaño de la fuente */
  transition: background-color 0.3s;
  margin: 10px 5px; /* Ajuste del margen */
}

.next-button:hover,
.prev-button:hover {
  background-color: #ff4400;
}

.social-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  color: #333;
}

.social-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-button:hover {
  color: #333;
  background-color: #f2f2f2;
}

.social-button.google-button,
.social-button.facebook-button {
  color: #615f5f;
}

.social-login {
  // margin-bottom: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.form-group {
  margin-bottom: 2px; /* Ajuste del margen */
  position: relative;
}

.form-group .animated input {
  height: 20px; /* Ajuste de la altura */
  color: #333;
  outline: none;
  transition: all 0.3s;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.form-group .animated label {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 12px; /* Ajuste del tamaño de la fuente */
  color: #8e8686;
  transition: all 0.3s;
}

.form-group .animated input:focus {
  border-color: #ba3b0d;
}

.form-group .animated input:focus + label {
  top: -5px;
  font-size: 12px; /* Ajuste del tamaño de la fuente */
  color: #ba3b0d;
}

.form-group.mat-form-field .animated {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.form-group.mat-form-field .animated input {
  margin: 2px 0;
  color: #333;
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
}

.form-group.mat-form-field .animated label {
  position: relative;
  top: auto;
  left: auto;
  font-size: 7px; /* Ajuste del tamaño de la fuente */
  color: #777;
  transition: all 0.3s;
}

.form-group.mat-form-field .animated input:focus {
  background-color: #f8f8f8;
}

.form-group.mat-form-field .animated input:focus + label {
  top: -24px;
  font-size: 6px; /* Ajuste del tamaño de la fuente */
  color: #a54c2c;
}

/* Estiliza la barra de progreso */
.progress-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  margin: 15px 0;
}

.progress-step {
  flex: 1;
  text-align: center;
  color: #777;
  transition: color 0.3s;
}

.progress-step.active {
  color: #ff4400;
}

h1,
p.section-title {
  font-size: 20px;
}

.next-button,
.prev-button {
  text-align: center;
}

.progress-bar {
  justify-content: space-evenly;
  font-size: 12px;
  margin: 15px 0;
}

/* Estilos para el campo de fecha */
.date {
  width: 100%;
  margin: 0;
}

.date {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

/* Media Queries para hacerlo responsive */

@media (max-width: 768px) {
  .signup-container {
    padding: 1%;
    width: 75%;
  }
  .logo {
    max-width: 80px;
  }
  h1,
  p.section-title {
    font-size: 18px;
  }
  .social-button {
    border-radius: 40px;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 11px;
    color: #333;
  }
}

@media (max-width: 480px) {
  .signup-container {
    padding: 2rem;
  }
  .logo {
    max-width: 60px;
  }
  h1,
  p.section-title {
    font-size: 16px;
  }
  .social-button {
    font-size: 12px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
