<!-- preguntas-freq.view.html -->

<div [@dialogFadeInOut]  class="faq-container" #faqListContainer>
  <h2>Preguntas Frecuentes</h2>
  <div *ngFor="let faqItem of faqList" class="faq-item">
    <div class="faq-question" (click)="toggleFaq(faqItem)">
      {{ faqItem.question }}
      <span class="toggle-icon" [innerHTML]="faqItem.expanded ? '&#9650;' : '&#9660;'"></span>
    </div>
    <div class="faq-answer" [ngClass]="{'show-answer': faqItem.expanded}">{{ faqItem.answer }}</div>
  </div>
</div>
