/* Estilos generales para el componente */
.container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  // margin-top: 130px; /* Agrega un margen superior para evitar que el contenido se superponga al encabezado fijo */

}



.subcontenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.view-title {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Tabla y Celdas */

.mat-table {
  width: 100%;
  overflow-x: auto;
}

.mat-row {
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
}

/* Imágenes */

.product-image {
  max-width: 100%;
  height: auto;
  max-height: 50px;
}

/* Botones y Acciones */

.mat-raised-button {
  // background-color: #00b050;
  // min-width: 0;
  margin-bottom: 30%;
  // margin: 10px 0;
  &:hover {
    color: inherit;
  }
}

.delete-button:hover {
  color: red;
}

.edit-button:hover {
  color: green;
}

/* Responsividad en Dispositivos Móviles */

@media (max-width: 600px) {
  .mat-table {
    font-size: 12px;
  }

  .product-image {
    max-width: 30px;
    max-height: 30px;
  }


  .create-button,
  .edit-button,
  .delete-button {
    font-size: 14px;
  }

  .actions-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Ocultar columnas en dispositivos móviles */
  .mat-column-category,
  .mat-column-weight {
    display: none;
  }
}

/* Estados y Paginator */

.active {
  color: #00b050;
  &::before {
    content: ' ● ';
    color: #00b050;
  }
}

.deactive {
  color: rgb(255, 0, 0);
  &::before {
    content: ' ● ';
    color: rgb(255, 0, 0);
  }
}

.paginator {
  margin-top: 16px;
}
