<!-- terminos-condiciones.component.html -->

<div class="terminos-condiciones-container"  >
  <h1>Términos y Condiciones</h1>

  <div class="empresa-info" data-aos="zoom-out-up">
    <h2>PASTELERÍA AUSTINS.</h2>
    <p>
      Domicilio: Avenida Prof. Toribio Reyes 5, Colonia Juarez, Huejutla,
      Hidalgo, México, C.P. 43000 <br />
      Contacto: Correo electrónico:
      <a href="mailto:correo@austins.com">correo&#64;austins.com</a>. Teléfono:
      +52 123 456 7890
    </p>
  </div>

  <div class="descripcion-servicio" data-aos="zoom-out-up">
    <h2>Descripción del Servicio:</h2>
    <p>
      Austin's ofrece pasteles, rellenos de mousses y cremas naturales, son
      creaciones artesanales que cautivan tanto visual como gustativamente.
      Desde porciones individuales hasta tartas de frutas frescas, cada bocado
      refleja la pasión y dedicación que impulsan a Austin's, una pastelería
      europea que, después de 14 años, sigue siendo el resultado de amor por la
      excelencia y el deseo constante de satisfacer los paladares más exigentes,
      con el compromiso de brindar calidad y satisfacción a nuestros clientes.
    </p>
  </div>

  <div class="asignacion-riesgos" data-aos="zoom-out-up">
    <h2>Asignación de Riesgos, Responsabilidad y Descargos:</h2>
    <p>
      El uso de nuestros servicios implica la aceptación de riesgos por parte
      del usuario. Se considera la asignación de riesgos, responsabilidades y
      descargos como elementos cruciales para establecer relaciones
      transparentes y sólidas con nuestros clientes. En cuanto a la
      responsabilidad de uso del sitio web, nos esforzamos por proporcionar una
      plataforma segura y de fácil navegación, asegurando que la experiencia del
      usuario sea positiva y sin contratiempos. Para los productos solicitados,
      asumimos la responsabilidad de garantizar su calidad y conformidad con los
      estándares acordados. Sin embargo, es fundamental establecer claramente
      las condiciones de uso y manejo de los productos una vez entregados,
      ofreciendo información detallada para evitar malentendidos. Nuestra
      prioridad es construir relaciones de confianza, y para ello, estamos
      comprometidos a abordar proactivamente cualquier situación imprevista,
      demostrando nuestra responsabilidad y dedicación a la satisfacción del
      cliente.
    </p>
  </div>

  <div class="garantia" data-aos="zoom-out-up">
    <h2>Garantía:</h2>
    <p>
      En nuestra empresa, reconocemos la importancia de brindar tranquilidad a
      nuestros clientes en relación con el uso de nuestro sitio web. Sin
      embargo, es importante destacar que no ofrecemos garantías explícitas a
      menos que se acuerde expresamente de otra manera en circunstancias
      particulares. Aunque nos esforzamos por proporcionar un entorno digital
      seguro y eficiente, la participación en nuestro sitio web no garantiza
      resultados específicos ni la ausencia absoluta de contratiempos. Nuestra
      prioridad es ofrecer un servicio de calidad y abordar cualquier
      inconveniente de manera proactiva, asegurando la mejor experiencia posible
      para nuestros usuarios. Estamos comprometidos a trabajar en estrecha
      colaboración con nuestros clientes para resolver cualquier problema y
      garantizar su satisfacción.
    </p>
  </div>

  <div class="derecho-desistimiento" data-aos="zoom-out-up">
    <h2>Derecho de Desistimiento:</h2>
    <p>
      En nuestra empresa, reconocemos y respetamos el derecho de desistimiento
      de nuestros clientes. Si en algún momento decides cancelar o dar de baja
      algún producto solicitado a través de nuestro sitio web, puedes hacerlo
      dentro de un plazo de un día hábil de realizar su pedido, a partir de la
      fecha de la transacción. Queremos asegurarnos de que tu experiencia con
      nosotros sea completamente satisfactoria, y por eso facilitamos este
      proceso para brindarte la flexibilidad que necesitas. Para ejercer tu
      derecho de desistimiento, simplemente comunícate con nuestro equipo de
      atención al cliente, y estaremos encantados de asistirte en el
      procedimiento correspondiente.
    </p>
  </div>
  <a *ngIf="!showSeccionMas" (click)="showSeccionMas = true">Ver Más</a>

  <section class="seccionmas" *ngIf="showSeccionMas" data-aos="zoom-out-up">
    <div class="informacion-seguridad">
      <h2>Información de Seguridad:</h2>
      <p>
        En nuestra empresa, la seguridad de nuestros clientes es una prioridad
        fundamental. Proporcionamos instrucciones detalladas sobre el uso
        adecuado de nuestros productos y servicios para garantizar la máxima
        seguridad del usuario. Estas instrucciones abarcan desde la instalación
        y manipulación hasta el mantenimiento continuo, asegurando que cada paso
        sea claro y comprensible. Nos comprometemos a brindar información
        exhaustiva para empoderar a nuestros clientes, permitiéndoles disfrutar
        de nuestros productos y servicios de manera segura y efectiva. La
        transparencia y el compromiso con la seguridad son esenciales en nuestra
        empresa, y trabajamos incansablemente para garantizar la tranquilidad de
        nuestros clientes.
      </p>

      <!-- Puntos adicionales -->
      <ol>
        <li>
          Contraseña Segura: Al utilizar nuestros servicios en línea, se
          recomienda encarecidamente establecer contraseñas sólidas que combinen
          letras, números y caracteres especiales. Evita compartir tu contraseña
          y actualízala periódicamente para una mayor seguridad.
        </li>
        <li>
          Protección de Datos Personales: Nunca compartas información
          confidencial, como números de tarjetas de crédito o contraseñas, a
          través de canales no seguros. Nosotros nunca solicitaremos esta
          información por correo electrónico u otros medios no seguros.
        </li>
        <li>
          Actualizaciones de Software: Mantén tu software, incluyendo
          navegadores y sistemas operativos, actualizado regularmente. Las
          actualizaciones suelen incluir mejoras de seguridad cruciales para
          proteger tu experiencia en línea.
        </li>
        <li>
          Uso Responsable de Productos Físicos: Esto puede incluir pautas
          específicas de almacenamiento, manipulación y mantenimiento que
          contribuyen a una experiencia segura y duradera.
        </li>
        <li>
          Navegación Segura en el Sitio Web: Al utilizar nuestro sitio web,
          evita hacer clic en enlaces sospechosos y asegúrate de estar en una
          conexión segura (https://). No compartas información sensible a través
          de mensajes no cifrados.
        </li>
      </ol>
    </div>

    <div class="condiciones-uso" data-aos="zoom-out-up">
      <h2>Condiciones de Uso o Compra:</h2>
      <p>
        <strong>Aceptación de Términos y Condiciones:</strong> Al realizar una
        compra o utilizar nuestros productos, aceptas automáticamente los
        términos y condiciones establecidos por nuestra empresa. Es importante
        revisar detenidamente estas condiciones antes de proceder con cualquier
        transacción para garantizar una experiencia informada y satisfactoria.
        <strong>Responsabilidad del Usuario:</strong> El usuario asume la
        responsabilidad de la información proporcionada durante la compra,
        incluyendo datos de contacto y detalles de envío. Cualquier error u
        omisión debe ser corregido de inmediato, y la empresa no se hace
        responsable de problemas derivados de información incorrecta.
        <strong>Uso Adecuado de los Productos:</strong> Al adquirir productos,
        el cliente se compromete a utilizarlos de acuerdo con su propósito
        previsto y de manera legal. Cualquier uso indebido o actividades
        ilegales relacionadas con nuestros productos o servicios resultará en la
        terminación inmediata de la relación contractual y la posible aplicación
        de medidas legales.
      </p>
      <p>
        Estas condiciones están diseñadas para garantizar una transacción justa
        y transparente entre la empresa y el cliente. Es fundamental revisar y
        entender estas condiciones antes de proceder con cualquier compra o uso
        de servicios para una experiencia satisfactoria.
      </p>
    </div>

    <div class="politica-devoluciones" data-aos="zoom-out-up">
      <h2>Política de Devoluciones y Reembolsos:</h2>
      <p>
        Nuestra política de devoluciones y reembolsos se rige por condiciones
        específicas que deben ser revisadas antes de realizar una compra. Los
        clientes son responsables de familiarizarse con estas políticas, que
        pueden abordar plazos, condiciones de productos elegibles y procesos de
        devolución.
      </p>
    </div>

    <div class="metodos-pago" data-aos="zoom-out-up">
      <h2>Métodos de Pago:</h2>
      <p>
        Aceptamos pagos en efectivo y con tarjeta de crédito o débito, y
        ofrecemos instrucciones claras para cada método de pago. Los pagos en
        efectivo se pueden realizar en nuestros locales, y los pagos con tarjeta
        se pueden realizar en nuestras instalaciones o en línea. Los pagos en
        línea se realizan a través de un proveedor de servicios de pago externo,
        y los datos de pago se procesan de forma segura.
      </p>
    </div>

    <div class="canales-postventa" data-aos="zoom-out-up">
      <h2>Canales Postventa:</h2>
      <ol>
        <li>
          Servicio al Cliente en Línea: A través de nuestro portal en línea,
          proporcionamos un servicio de atención al cliente accesible, donde los
          usuarios pueden realizar consultas, obtener asistencia técnica o
          resolver problemas específicos. Nuestro equipo está dedicado a brindar
          respuestas oportunas y soluciones efectivas.
        </li>
        <li>
          Soporte por Correo Electrónico: Ofrecemos asistencia por correo
          electrónico para consultas detalladas o problemas que requieran una
          atención más específica. Los clientes pueden comunicarse con nuestro
          equipo de soporte mediante el correo electrónico designado para
          recibir orientación personalizada.
        </li>
        <li>
          Centro de Ayuda en el Sitio Web: Disponemos de un centro de ayuda en
          nuestro sitio web que proporciona información detallada, tutoriales y
          preguntas frecuentes para resolver consultas comunes. Este recurso
          permite a los clientes acceder a información de autoservicio de manera
          rápida y eficiente.
        </li>
        <li>
          Redes Sociales: Mantenemos presencia en redes sociales para facilitar
          la interacción con nuestros clientes. A través de plataformas como
          Facebook e Instagram, los usuarios pueden realizar consultas, recibir
          actualizaciones y compartir sus experiencias, brindándoles un canal
          adicional para conectarse con nosotros.
        </li>
      </ol>
      <p>
        Estos canales postventa están diseñados para garantizar una experiencia
        integral y satisfactoria para nuestros clientes. Nos comprometemos a
        mantener abiertas las líneas de comunicación y a abordar cualquier
        inquietud de manera proactiva para mantener la confianza y lealtad de
        nuestros usuarios.
      </p>
    </div>

    <div class="propiedad-intelectual" data-aos="zoom-out-up">
      <h2>Propiedad Intelectual:</h2>
      <p>
        Todos los derechos de propiedad intelectual asociados con nuestros
        productos, servicios, y cualquier contenido relacionado están
        debidamente protegidos y son propiedad exclusiva de la empresa, a menos
        que se indique lo contrario. El contenido, diseño, logotipos, marcas
        registradas y cualquier material distintivo de nuestra empresa son
        propiedad exclusiva y están protegidos por leyes de propiedad
        intelectual. Cualquier uso no autorizado, reproducción o distribución de
        estos elementos está estrictamente prohibido y puede estar sujeto a
        acciones legales.
      </p>
      <p>
        Asimismo, respetamos los derechos de propiedad intelectual de terceros y
        alentamos a nuestros usuarios a hacer lo mismo. Si se sospecha de alguna
        violación de derechos de propiedad intelectual en relación con nuestros
        productos o servicios, instamos a que se nos informe para abordar la
        situación de manera adecuada. Nuestra empresa está comprometida con el
        respeto a la propiedad intelectual y promueve un ambiente donde la
        creatividad y la innovación sean protegidas y valoradas.
      </p>
    </div>

    <div class="marco-legal" data-aos="zoom-out-up">
      <h2>Marco Legal:</h2>
      <p>
        Aclaración sobre el marco legal que rige nuestros servicios, y ofrecemos
        ejemplos concretos para mayor comprensión. El marco legal que rige
        nuestros servicios es el Código Civil Federal, la Ley Federal de
        Protección al Consumidor y la Ley Federal de Protección de Datos
        Personales en Posesión de los Particulares. En caso de disputas, se
        aplicará la legislación mexicana y se resolverán en los tribunales de la
        Ciudad de Huejutla, Hidalgo.
      </p>
    </div>

    <div class="condiciones-adicionales" data-aos="zoom-out-up">
      <h2>Condiciones Adicionales Aplicables:</h2>
      <p>
        Para garantizar una relación clara y mutuamente beneficiosa con nuestros
        clientes. Algunas de estas condiciones adicionales son:
      </p>
      <ul>
        <li>
          Modificaciones y Actualizaciones: Nos reservamos el derecho de
          realizar modificaciones y actualizaciones en nuestras políticas,
          términos y condiciones. Cualquier cambio se comunicará de manera
          oportuna, y el uso continuo de nuestros productos o servicios después
          de dichos cambios constituirá la aceptación de las nuevas condiciones.
        </li>
        <li>
          Compatibilidad y Requisitos del Sistema: Es responsabilidad del
          usuario asegurarse de que su sistema cumpla con los requisitos
          técnicos y de compatibilidad necesarios para el uso efectivo de
          nuestros productos o servicios. Proporcionamos información detallada
          al respecto para garantizar una experiencia óptima.
        </li>
      </ul>
      <p>
        Estas condiciones adicionales son fundamentales para establecer una
        relación transparente y mantener informados a nuestros clientes sobre
        cualquier cambio o requisito necesario para el uso efectivo de nuestros
        productos y servicios.
      </p>
    </div>
    <div class="terminos-servicio" data-aos="zoom-out-up">
      <h2>Términos del Servicio</h2>
      <ol>
        <li>
          <strong>Uso Aceptable:</strong> Los servicios deben utilizarse de
          manera ética y legal. No se permite el uso indebido, ilegal o que
          cause daño a nuestra empresa o a otros usuarios.
        </li>
        <li>
          <strong>Privacidad y Seguridad:</strong> Respetamos la privacidad de
          los usuarios y tomamos medidas para proteger la seguridad de la
          información proporcionada. Los datos se manejan de acuerdo con
          nuestras políticas de privacidad.
        </li>
        <li>
          <strong>Actualizaciones y Modificaciones:</strong> Nos reservamos el
          derecho de realizar actualizaciones y modificaciones en nuestros
          servicios. Los usuarios serán informados de cambios significativos, y
          el uso continuo implica la aceptación de las actualizaciones.
        </li>
        <li>
          <strong>Suspensión o Terminación del Servicio:</strong> El
          incumplimiento de los términos del servicio puede resultar en la
          suspensión o terminación del acceso a nuestros servicios. Este proceso
          se realiza de acuerdo con nuestras políticas internas y regulaciones
          aplicables.
        </li>
      </ol>
    </div>

    <div class="facturacion" data-aos="zoom-out-up">
      <h2>Facturación</h2>
      <p>
        <strong>Por Métodos de Pago:</strong> Aceptamos varios métodos de pago,
        que estarán detallados durante el proceso de compra. Asegúrate de
        revisar y seleccionar el método de pago preferido antes de confirmar la
        transacción. <strong>Plazos de Pago:</strong> El plazo de pago está
        indicado en la factura. Te solicitamos que realices el pago dentro de
        este periodo para evitar posibles interrupciones en el servicio o
        productos adquiridos.
      </p>
    </div>

    <div class="compra-envios" data-aos="zoom-out-up">
      <h2>Como Comprar y Envíos</h2>
      <ol>
        <li>
          <strong>Selección de Productos:</strong> Elige los productos deseados
          de nuestro catálogo y agrégalos al carrito de compras.
        </li>
        <li>
          <strong>Información de Envío:</strong> Completa la información de
          envío con precisión durante el proceso de compra. Asegúrate de incluir
          la dirección correcta y cualquier detalle relevante para facilitar la
          entrega.
        </li>
        <li>
          <strong>Selección de Método de Envío:</strong> Selecciona el método de
          envío que mejor se adapte a tus necesidades y plazos. Ofrecemos
          opciones estándar y express, con detalles claros sobre los tiempos de
          entrega estimados.
        </li>
        <li>
          <strong>Confirmación de la Orden:</strong> Revisa cuidadosamente tu
          pedido y la información de envío antes de confirmar la compra. Una vez
          confirmado, recibirás un correo electrónico de confirmación con los
          detalles de tu pedido.
        </li>
        <li>
          <strong>Seguimiento en Tiempo Real:</strong> Proporcionamos un número
          de seguimiento para que puedas rastrear el estado de tu envío en
          tiempo real. Esto te permite estar informado sobre la ubicación y la
          hora estimada de entrega.
        </li>
        <li>
          <strong>Entrega y Verificación:</strong> Al recibir tu pedido,
          verifica que los productos estén en buen estado. Si hay algún problema
          o discrepancia, comunícate con nuestro servicio de atención al cliente
          de inmediato.
        </li>
      </ol>
      <p>
        Este procedimiento básico garantiza una experiencia de envío sin
        complicaciones para nuestros clientes. Estamos comprometidos a
        proporcionar un servicio eficiente y seguro desde la compra hasta la
        entrega. Si tienes preguntas adicionales, nuestro equipo está listo para
        ayudarte.
      </p>
    </div>

    <div class="descuentos" data-aos="zoom-out-up">
      <h2>Descuentos</h2>
      <p>
        En nuestra pastelería, reservamos descuentos especiales para ocasiones
        significativas, destacando la importancia de celebrar junto a nuestros
        clientes en momentos especiales:
      </p>
      <ul>
        <li>
          <strong>Aniversario de la Empresa:</strong> Para conmemorar otro año
          de dulzuras y experiencias compartidas, ofrecemos descuentos
          exclusivos durante el mes de nuestro aniversario. Es nuestra manera de
          agradecer la lealtad y apoyo continuo de nuestros clientes.
        </li>
        <li>
          <strong>Días Festivos Importantes:</strong> En fechas emblemáticas
          como Navidad, Año Nuevo y otros días festivos significativos,
          extendemos descuentos especiales para que nuestros clientes celebren
          con deliciosos productos a precios más accesibles.
        </li>
      </ul>
    </div>

    <div class="analisis-terminos" data-aos="zoom-out-up">
      <h2>Análisis de Términos y Condiciones</h2>
      <p>
        Valoramos la transparencia y la claridad en nuestra relación con los
        clientes, por lo que es fundamental analizar nuestros términos y
        condiciones. Algunos aspectos clave incluyen:
      </p>
      <ul>
        <li>
          <strong>Uso Aceptable:</strong> Detallamos claramente cómo se espera
          que los clientes utilicen nuestros servicios y productos, asegurando
          un entorno respetuoso y ético.
        </li>
        <li>
          <strong>Responsabilidad del Usuario:</strong> Especificamos la
          responsabilidad del usuario en términos de la información
          proporcionada, asegurando que la información sea precisa y
          actualizada.
        </li>
        <li>
          <strong>Política de Devoluciones:</strong> Detallamos los procesos y
          plazos para devoluciones, asegurando una comprensión clara de cómo
          abordamos situaciones imprevistas.
        </li>
        <li>
          <strong>Actualizaciones y Cambios:</strong> Informamos sobre nuestra
          capacidad para realizar cambios y actualizaciones en los términos y
          condiciones, proporcionando transparencia sobre cualquier ajuste
          futuro.
        </li>
      </ul>
      <p>
        El análisis constante de estos términos y condiciones es esencial para
        garantizar una relación armoniosa y justa con nuestros clientes, basada
        en la comprensión mutua y el respeto.
      </p>
    </div>
  </section>
</div>
