<!-- <div class="container">
  <div class="subcontenido">
    <!-- <div class="orders-container"> -->
      <div *ngFor="let pedido of pedidos" class="order-card">
        <div class="order-header">
          <span class="order-id">Pedido #{{ pedido.codigoPedido }}</span>
          <span class="order-status">{{ pedido.estadoPedido }}</span>
        </div>
        <div class="order-details">
          <p>
            <strong>Cliente:</strong> {{ pedido.usuario.name }} {{ pedido.usuario.paternalLastname }}
          </p>
          <p><strong>Email:</strong> {{ pedido.usuario.email }}</p>
          <p><strong>Teléfono:</strong> {{ pedido.usuario.phone }}</p>
          <p><strong>Fecha de creación:</strong> {{ pedido.createdAt | date }}</p>
          <p><strong>Detalle del pedido:</strong></p>
          <ul class="order-items">
            <li *ngFor="let detalle of pedido.detallePedido">
              <span><strong>Sabor:</strong> {{ detalle.sabor }}</span>
              <span><strong>Cantidad:</strong> {{ detalle.cantidad }}</span>
              <span><strong>Día:</strong> {{ detalle.dia | date }}</span>
              <span><strong>Hora:</strong> {{ detalle.hora }}</span>
            </li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div> -->
