<div class="product-item">
  <div class="product-item-content">
    <div class="product-image" (click)="goToDetail('detail')">
      <img src="{{ product.images[0] | defaultImg }}" [alt]="product.name">
    </div>
    <div class="product-info">
      <h4>{{ product.name }}</h4>
      <p class="product-price">{{ product.price | currency }}</p>
      <p class="product-description">{{ product.description | slice:0:50 }}{{ product.description.length > 50 ? '...' : '' }}</p>
    </div>
    <div class="product-actions">
      <button mat-button color="accent" (click)="decrement()">-</button>
      <button mat-button color="accent" (click)="add()">Agregar</button>
      <button mat-button color="accent" (click)="increment()">+</button>
    </div>
  </div>
</div>
