.product-card {
  box-sizing: border-box;
  padding: 10px;
  width: calc(33.33% - 20px); /* Ajusta el ancho y el margen para que sean responsive */
  margin: 10px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
  }
}

/* Estilos para dispositivos móviles (por ejemplo, pantalla de ancho menor a 600px) */
@media (max-width: 600px) {
  .product-card {
    width: 100%; /* Ocupa todo el ancho del contenedor en dispositivos móviles */
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .content-img {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  mat-card-header {
    position: relative;

    mat-card-title {
      text-align: center;
      font-size: 1.2rem; /* Ajusta el tamaño de fuente para la versión web */
      font-weight: bold;
      color: #703824;
    }

    mat-card-subtitle {
      text-align: center;
      font-weight: bold;
      span {
        margin-left: 10px;
      }
    }

    div[mat-card-avatar] {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background: url('https://static.wixstatic.com/media/64de7c_5c0ba351459045d582cf3f4215ee9229~mv2.jpg/v1/fill/w_284,h_266,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/64de7c_5c0ba351459045d582cf3f4215ee9229~mv2.jpg') center/cover;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  mat-card-content {
    flex: 1;
    text-align: center;

    p {
      text-align: center;
      font-size: 1rem; /* Ajusta el tamaño de fuente para la versión web */
      margin-top: 15px;
    }
  }

  mat-card-actions {
    text-align: center;
    justify-content: center;
    padding: 12px;

    button {
      z-index: 0;
      padding: 10px 20px;
      margin: 0 5px;
      background-color: #AB7038;
      border: none;
      border-radius: 4px;
      font-size: 1.1rem;
      font-weight: bold;
      color: #ffffff;
      cursor: pointer;
      transition: transform 0.3s, color 0.2s;
      white-space: nowrap;
      overflow: hidden;
    }

    .grow {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.no-results-message {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;

  p {
    // font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
  }
}
