<div class="catalog">
  <div class="product-card">
    <img
      [src]="product.images[0] ? product.images[0] : 'defaultImg'"
      [alt]="product.name"
      (click)="goToDetail()"
      class="product-image"
    />
    <div class="product-details">

      <h3 class="product-name">{{ product.name | slice:0:23 }}{{ product.name.length > 23 ? '...' : '' }}</h3>

      <p class="product-description">{{ product.description | slice:0:50 }}{{ product.description.length > 50 ? '...' : '' }}</p>
      <div >
        <div class="product-price">{{ product.price | currency }}</div>
      </div>
      <button class="add-to-cart-button" (click)="add()">
        Agregar al Carrito
      </button>
    </div>
  </div>
</div>
