/* Estilos base para el contenedor de errores */
.error-container-base {
  position: absolute;
  top: 0;
  right: 0;
  color: #ff0000;
  font-size: 14px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
  background-color: #ffeeee;
  padding: 8px; /* Ajusta el padding para dispositivos móviles */
  border: 1px solid #ff0000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;

  &.has-error {
    transform: translateX(0);
    background-color: #ffdddd;
    border-color: #ff5555;
  }
}

/* Estilos específicos para el contenedor de errores a la derecha */
.error-container {
  @extend .error-container-base;
  transform: translateX(100%);
  margin-top: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 10px;
    height: 2px;
    background-color: #ff5555;
    transform: translateY(-50%);
  }

  @media (max-width: 600px) {
    .error-container-base {
      display: none;
    }
    margin-top: 4px;
    transform: translateX(20%);
    font-size: 8px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    padding: 0px; /* Ajusta el padding para dispositivos móviles */
  }
}

/* Estilos específicos para el contenedor de errores a la izquierda */
.error-container2 {
  @extend .error-container-base;
  transform: translateX(-150%);
  margin-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 330px;
    width: 10px;
    height: 2px;
    background-color: #ff5555;
    transform: translateY(-50%);
  }

  @media (max-width: 600px) {
    // right: 50%;
    // transform: translateX(50%);
    &::before {
      left: -5%; /* Ajusta la posición del pseudo-elemento en dispositivos móviles */
    }
    transform: translateX(20%);
    font-size: 8px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    padding: 0px; /* Ajusta el padding para dispositivos móviles */
  }
}
