<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<p-toast position="top-center"></p-toast>

<div
  class="log"
  data-aos="fade-right"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500"
>
  <img
    class="logo"
    src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png"
    alt="Pastelería"
  />
  <h1>Solicitud de Recuperación de Contraseña</h1>
  <!-- <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p> -->
</div>
<div class="signup-container">
  <p style="text-align: center" class="login-link">
    ¿Prefieres recuperar por correo electrónico?
    <a (click)="navigateTo('auth/Recupera')">Haz clic aquí</a>
  </p>

  <form (ngSubmit)="onSubmitStep1()" [formGroup]="questionForm">
    <div class="form-group" *ngIf="activeIndex === 0">
      <div class="card flex" *ngIf="!newPasswordFieldsVisible">
        <input
          type="text"
          pInputText
          formControlName="username"
          placeholder="Ingresa tu nombre de usuario, correo o teléfono"
          (keyup)="buscarUsuarios(questionForm.get('username')?.value)"
        />
        <!-- Mostrar mensaje de error si el campo está vacío -->
        <small *ngIf="showEmptyFieldError" class="text-danger"
          >El campo es obligatorio</small
        >
      </div>

      <div
        class="card flex"
        *ngIf="
          isUserFound &&
          questionForm.get('selectedQuestion')?.value &&
          !newPasswordFieldsVisible
        "
      >
        <!-- Utilizamos un label para mostrar la pregunta secreta -->
        <label for="question"
          >{{ questionForm.get("selectedQuestion")?.value }} pregunta
          selecionada previamente</label
        >
      </div>

      <div
        class="card flex"
        *ngIf="
          isUserFound &&
          questionForm.get('selectedQuestion')?.value &&
          !newPasswordFieldsVisible
        "
      >
        <input
          type="text"
          pInputText
          formControlName="answer"
          placeholder="Escribe tu respuesta secreta"
        />
      </div>

      <div class="button-container">
        <button
          class="next-button"
          [disabled]="isSubmitting"
          *ngIf="!newPasswordFieldsVisible"
        >
          Enviar Respuesta
        </button>
      </div>
      <form
        [formGroup]="form2"
        *ngIf="isUserFound && questionForm.get('selectedQuestion')?.value"
      >
        <div
          class="card flex"
          *ngIf="
            isUserFound &&
            questionForm.get('selectedQuestion')?.value &&
            newPasswordFieldsVisible
          "
        >
          <input
            type="password"
            pInputText
            formControlName="newPassword"
            placeholder="Nueva contraseña"
          />
          <input
            type="password"
            pInputText
            formControlName="confirmPassword"
            placeholder="Confirmar contraseña"
          />

          <div class="button-container">
            <button
              class="next-button"
              [disabled]="isSubmitting || !form2.valid"
              (click)="cambiarContrasena()"
            >
              Enviar Respuesta
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card">

      <p-messages
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"
        [(value)]="messages"
        [enableService]="false"
      ></p-messages>
    </div>
    <div class="card flex" style="align-items: center" *ngIf="isLoading">
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
      ></p-progressSpinner>
    </div>
  </form>
</div>
