<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<p-toast position="top-center"></p-toast>

<div class="log" data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500">
  <img class="logo" src="https://static.wixstatic.com/media/64de7c_4d76bd81efd44bb4a32757eadf78d898~mv2_d_1765_2028_s_2.png" alt="Pastelería" />
  <h1>Solicitud de Recuperación de Contraseña</h1>
  <!-- <p class="login-link">¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p> -->
</div>

<div class="signup-container">

  <p style="text-align: center" class="login-link">
    ¿Prefieres recuperar por correo electrónico? <a  (click)="navigateTo('auth/Recupera')" >Haz clic aquí</a>
  </p>

      <form (ngSubmit)="onSubmitStep1()" [formGroup]="questionForm">


        <div class="form-group" *ngIf="activeIndex === 0">
          <div class="card flex">
            <input type="text" pInputText formControlName="username" placeholder="Ingresa tu nombre de usuario ,correo , tel.." />
          </div>
          <div class="card flex">
            <p-dropdown formControlName="selectedQuestion" [options]="questionOptions" placeholder="Selecciona una pregunta secreta"></p-dropdown>
          </div>


          <div class="card flex">
            <input type="text" pInputText formControlName="answer" placeholder="Escribe tu respuesta secreta" />
          </div>
          <div class="button-container">
            <button class="next-button" [disabled]="isSubmitting">Enviar Respuesta</button>
          </div>
        </div>


      </form>

</div>
